@charset "utf-8";
/* CSS Document */

* { margin:0 auto;}

body { background-color:#f8f1e9; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#4d2b00; }
a { text-decoration:none; color:#4d2b00; }
img { border:0; }
/******* header ********/
.banner { width:960px; height:275px; background:url(images/Bg.jpg) no-repeat; }
.menu { width:100%; height:47px; background:url(../images/bg_menu.png) repeat-x ; }
#nav { width:960px; height:47px; margin:0 auto; padding:0; }
#nav li { padding-top: 15px; float:left; list-style:none; padding-bottom:15px; position:relative; }
#nav li a { padding:20px 15px 15px 15px; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold;  }
#nav li a:hover { padding:15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; }
#nav li ul { display: none; position: absolute; top:100%; left:0; padding: 0; margin:0; z-index:1000; }
#nav li ul li { float:none; z-index:1; position: static; }
/* IE7 */
* + html #nav li ul { top:-128px;}
* + html #nav li ul li { position:absolute; font-size:14px; font-weight:bold !important; }
* + html #nav li ul li.submenu1 { top:0px; }
* + html #nav li ul li.submenu2 { top:47px; }
* + html #nav li ul li.submenu3 { top:94px; }
* + html #nav li ul li.submenu4 { top:141px; }
* + html #nav ul li a { font-weight: bold; position: fixed;font-size:14px;}
/* IE7 */
#nav li ul li, #nav li ul li a { float: none; }
#nav ul li a { padding:15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; text-transform:uppercase; font-weight:bold; float:none; white-space:nowrap; _margin-left:10px; }
#nav li:hover ul { display:block; }
#nav ul li a:hover { padding:15px; background:url(../images/bg_menu.png) repeat-x ; color:#FFF; }

/******* content *******/
.content { width:960px; height:auto; }
.left_column , .right_column { width:210px; height:auto; margin:20px 10px 0 0; float:left; }
.right_column { margin:20px 0 0 10px;}
.left_menu { width:210px; height:auto; }
.title { width:100%; height:41px; background:url(../images/bg_title.png) repeat-x; text-align:center; }
.title p { padding:12px 0; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.categories , .statistics { background-color:#f1dbb2; width:208px; height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; }
.categories { padding-bottom:10px; }
.categories ul { margin:0 0 0 10px; padding:10px 0 0 0; }
.categories ul ul { margin:0; }
.categories ul li { list-style:none; background:url(../images/bullet.png) left 5px no-repeat; padding-left:17px; margin-bottom:10px; }
.categories ul li:last-child { margin-bottom:0; }
.categories ul li li { background:url(../images/sub_bullet.png) left 5px no-repeat; }
.categories ul li a { font-size:13px; font-weight:bold; }
.categories ul li li a { font-weight:normal; }
.categories ul li a:hover { color:#b76600; }
.access_statistics_box { width:210px; height:auto; margin-top:20px;}
.statistics img { margin:20px }
.center_column { width:500px; height:auto; margin:20px 10px 0 10px; float:left; }
.center_column .banner { width:500px; height:350px; }
.product_show .title p { text-align:left; padding-left:10px; }
.product_show { margin-top:20px; clear:left;}
.product { width:158px; height:157px ; float:left; border:1px solid #c4c4c4; margin-top:10px; }
#product { margin: 10px 10px 0 10px; }
.product_info { width:158px; height:18px; background-color:#e2e3e4; border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; }
.product_code { width:97px; height:18px; border-right: 1px solid #c4c4c4; float:left; }
.product_code p , .detail p { font-size:10px; color:#4d2b00; padding:3px 0 0 5px; }
.detail p { text-align:center; }
.search_box { width:208px; height:52px; background-color:#f1dbb2; border:1px solid #c6a566; }
.textbox { width:145px; height:30px; float:left; }
.input_email{ margin:10px 0 0 10px; padding-left:10px; width:145px; height:28px; font-family: Tahoma, Geneva, sans-serif; border:1px solid #a16a03; white-space:nowrap; }
.text_style { margin:10px 0 0 10px; padding-left:10px; width:135px; height:28px; font-family: Tahoma, Geneva, sans-serif; font-style:italic; border:1px solid #a16a03;	white-space:nowrap;	color:#CCC; }
.search_box div.button { margin-left:7px; background: url(../images/BTN_bg.png) repeat-x; width:43px; height:30px; float:left; margin-top:10px; border:1px solid #a16a03; }
.search_box div.button a { width:43px; height:30px; top:10px; bottom:-3px; padding:11px 12px 5px 14px; position: relative; }

.support , .hot_product_box { margin-top:20px; background-color:#f1dbb2; width:208px; height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; }
.hot_product_box { border-left:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4; border-right:1px solid #b4b4b4; }
.support_container { margin:10px; }
.support_icon { width:41px; height:41px; float:left; margin-right:10px;}
.hotline p { font-weight:bold; font-size:14px; }
.hotline p.number { font-size:14px; color:#db0000; }
.Yhonoff_icon { margin: 10px 0 10px 52px; }

.hot_product a { background-color:#FFF;}

/******** Footer *******/
.footer { clear:left; margin-top:20px; background-color:#f1dbb2; border-top:1px solid #e7cb95; border-bottom:1px solid #e7cb95; }
.footer_container { margin:0 auto; width:960px; height:150px; }
.copy_right { width:350px; margin-top:17px; border-right:1px solid #563800; float:left; }
.copy_right p { margin-bottom:10px; font-size:14px; font-weight:bold; }
.footer_container .info { margin:13px 0 0 20px; float:left; line-height:24px; }








