﻿.t_paging { font-family: Arial; font-size: 11px; }
.pageBox { font-family: Arial; font-size: 11px; border: solid 1px #CCCCCC; text-align: center;  }
.t_title, .error-msg { font-family: Arial; }
 
/**********/
.t_admintable, .t_content
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    /*font-weight: bold;*/
}
.t_admintable .dnnForm.dnnTextEditor {
	min-width: 400px;
}
.t_admin_table_header
{
    /*background-image: url('../../images/bg_h1_admin.gif');
	#F0EBD7
	*/
    background-color: #EFEFEF;
    background-repeat: repeat-x;
    line-height: 21px;
}
.t_admin_table_header th
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-variant: normal;
    color: #6E615B;
    /*height: 30px;*/
    padding-top: 5px;
    text-align: left;
    padding: 10px 5px 10px 5px;    
}
.t_admin_table_header th a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-variant: normal;
    color: #6E615B;
    height: 30px;
    padding-top: 5px;
    text-align: left;
}
a.button:link, a.button:visited, a.button:hover
{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-variant: normal;
    color: #90311F;
    height: 30px;
    padding-top: 5px;
    text-align: left;
}
.t_admin_table_header td a
{
    font-family: Arial;
    font-size: 11px;
    color: #90311F;
    vertical-align: middle;
}

.row0
{
    background-color: #ffffff;
}
.row1
{
    background-color: #F2EFF0;
}
.row0 td, .row1 td
{
    padding: 10px 5px 10px 5px;
}
.row0 td a, .row1 td a
{
    color: #90311F;
    line-height: 22px;
}
.row0 td div a, .row1 td div a
{
    color: #686867;
}
.sortAsc
{
    background-image: url('../images/up_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
}
.sortDesc
{
    background-image: url('../images/down_icon.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
}
.sortNone
{
    background-image: url('../images/sortNone.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
}