﻿/*@import url("css/stylesheet.css");
@import url("css/menu.css");
@import url("css/custom.css");*/

@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: GheVM;
    src: url("../fonts/GheVM.eot");
    src: url("../fonts/GheVM.eot?#iefix") format('embedded-opentype'),url("../fonts/GheVM.woff") format('woff'),url("../fonts/GheVM.ttf") format('truetype'),url("../fonts/GheVM.svg#GheVM") format('svg');
    font-weight: 400;
    font-style: normal;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: GheVM;
        src: url("../fonts/GheVM.svg#GheVM") format('svg');
    }
}

@font-face {
    font-family: GheVM;
    src: url("../fonts/GheVM.eot");
    src: url("../fonts/GheVM.eot?#iefix") format('embedded-opentype'),url("../fonts/GheVM.ttf") format('truetype'),url("../fonts/GheVM.woff") format('woff'),url("../fonts/GheVM.svg#GheVM") format('svg');
    font-weight: 400;
    font-style: normal;
}

[class*=" icon-"], [class^=icon-] {
    font-family: GheVM;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\31";
}

.icon-menu:before {
    content: "\34";
}

.icon-magnifying_glass:before {
    content: "\35";
}

.icon-google_plus:before {
    content: "\36";
}

.icon-get-directions:before {
    content: "\37";
}

.icon-facebook:before {
    content: "\38";
}

.icon-contact:before {
    content: "\39";
}

.icon-close:before {
    content: "\30";
}

.icon-arrow-select_menu:before {
    content: "\2d";
}

.icon-arrow-right-marquee:before {
    content: "\3d";
}

.icon-arrow-right-generic:before {
    content: "\71";
}

.icon-arrow-right-carousel:before {
    content: "\77";
}

.icon-arrow-left-marquee:before {
    content: "\65";
}

.icon-arrow-left-generic:before {
    content: "\72";
}

.icon-arrow-left-carousel:before {
    content: "\74";
}

.icon-arrow-filter:before {
    content: "\79";
}

.icon-arrow-back_to_top:before {
    content: "\75";
}

.icon-accordion-open:before {
    content: "\69";
}

.icon-accordion-closed:before {
    content: "\6f";
}

.icon-add-to-contacts:before {
    content: "\70";
}

.icon-arrow-first_page:before {
    content: "\61";
}

.icon-arrow-last_page:before {
    content: "\73";
}

.icon-blockquote-quote:before {
    content: "\64";
}

.icon-bullet:before {
    content: "\66";
}

.icon-dropdown-menu-active-arrow:before {
    content: "\67";
}

.icon-email-to-a-friend:before {
    content: "\68";
}

.icon-print:before {
    content: "\6a";
}

.icon-text-size-down:before {
    content: "\6b";
}

.icon-text-size-up:before {
    content: "\6c";
}

.icon-qr-code:before {
    content: "\7a";
}

.icon-play-icon:before {
    content: "\32";
}

.icon-youtube:before {
    content: "\78";
}

.icon-phone:before {
    content: "\63";
}

/*******************************/


.wrapper * { margin:0 auto;}

body { background-color:#f8f1e9; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#4d2b00; }
a { text-decoration:none; color:#4d2b00; }
img { border:0; }
.clear { clear:both; }
/******* header ********/
.banner { width:960px; height:275px; background:url(images/Bg.jpg) no-repeat; }
.menu {	padding:0px; margin:5px 0px 0px 23px; width:100%; float:left; }
	
/**Ul1**/
.menu { width:100%; height:47px; background:url(../images/bg_menu.png) repeat-x ; margin:0; padding:0; }
#nav, #nav ul { width:960px; height:47px; margin:0 auto; padding:0; list-style:none; position: relative; }
#nav li { margin:0; float:left; list-style:none; position:relative; height:47px;}
#nav li a { height:32px; padding:15px 15px 0 15px; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; display:block ; float:left; }
#nav li ul a:link, #nav li ul a:active,
#nav li ul a:visited { padding:20px 15px 15px 15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; display:block ; }
#nav li a:hover , #nav li a.nav_selected { background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; }

/**Ul2**/
#nav ul { padding: 0 ; margin: 0 ; position:absolute ; display:none ; top:100%; left:0; width:auto; }
#nav li ul li, #nav li ul li a { float: none; width:auto; white-space:nowrap; }
#nav li ul a { width:auto; padding:15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#FFF; }
#nav li ul a:hover { background:url(../images/bg_menu.png) repeat-x ; color:#FFF; white-space:nowrap; }
#nav li:hover a { background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; }

/******* content *******/
.content { width:960px; height:auto; }
.left_column , .right_column { width:210px; height:auto; margin:20px 10px 0 0; float:left; }
.right_column { margin:20px 0 0 10px;}
.left_menu { width:210px; height:auto; }
.title-bar { width:100%; height:41px; background:url(../images/bg_title.png) repeat-x; text-align:center; }
.title-bar p { padding:12px 0; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.title-bar-mobile { width:100%; height:35px; background:url(../images/bg_title.png) repeat-x; text-align:left; margin-top: 30px; }
.title-bar-mobile p { padding:8px; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.categories , .statistics { background-color:#f1dbb2;  height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; }
.categories { padding-bottom:10px; width:208px; }
.categories ul { margin:0 0 0 10px; padding:10px 0 0 0; }
.categories ul ul { margin:0; }
.categories ul li { list-style:none; background:url(../images/bullet.png) left 5px no-repeat; padding-left:17px; margin-bottom:10px; }
.categories ul li:last-child { margin-bottom:0; }
.categories ul li li { background:url(../images/sub_bullet.png) left 5px no-repeat; }
.categories ul li a { font-size:13px; font-weight:bold; }
.categories ul li li a { font-weight:normal; }
.categories ul li a:hover , .categories ul li a.catg_selected { color:#b76600; }

.access_statistics_box .statistics { padding: 20px; }
.access_statistics_box { width:210px; height:auto; margin-top:20px;}
.access_statistics_box .statistics ul { margin:0 ; padding:0; list-style:none; }
.access_statistics_box .statistics ul li { width:168px; height:17px; margin-bottom:10px; }
.access_statistics_box .statistics ul li:last-child { margin-bottom:0; }
.access_statistics_box .statistics ul li div.userolIcon ,
.access_statistics_box .statistics ul li div.oltodayIcon , 
.access_statistics_box .statistics ul li div.olyesterdayIcon , 
.access_statistics_box .statistics ul li div.olstatisticsIcon { width:17px; height:17px; float:left; margin-right:10px; }

.access_statistics_box .statistics ul li div.userolInfo ,
.access_statistics_box .statistics ul li div.oltodayInfo , 
.access_statistics_box .statistics ul li div.olyesterdayInfo , 
.access_statistics_box .statistics ul li div.olstatisticsInfo { width:130px; height:17px; float:left; margin-top:2px; }

.access_statistics_box .statistics ul li div.userolInfo p,
.access_statistics_box .statistics ul li div.oltodayInfo p, 
.access_statistics_box .statistics ul li div.olyesterdayInfo p, 
.access_statistics_box .statistics ul li div.olstatisticsInfo p { float:left; margin-right:5px; }


.center_column { width:500px; height:auto; margin:20px 10px 0 10px; float:left; }
.center_column .banner { width:500px; height:350px; }
.product_show .title p { text-align:left; padding-left:10px; }
.product_show { margin-top:20px; clear:left;}
.product { width:160px; height:157px ; float:left; border:1px solid #c4c4c4; margin-top:10px; }
#product { margin: 10px 10px 0 10px; }
.product_info { width:160px; height:21px; background-color:#e2e3e4; border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; }
.product_code { width:97px; height:21px; border-right: 1px solid #c4c4c4; float:left; }
.product_code p , .detail p { font-size:10px; color:#4d2b00; padding:3px 0 0 5px; }
.imgThumbContainer .main-photo.zoom img { width: 320px;}
.detail p { text-align:center; }
.search_box { width:208px; height:52px; background-color:#f1dbb2; border:1px solid #c6a566; }
.textbox { width:145px; height:30px; float:left; }
.input_email { margin:10px 0 0 10px; padding-left:10px; width:145px; height:28px; font-family: Tahoma, Geneva, sans-serif; border:1px solid #a16a03; white-space:nowrap; }
.text_style { margin:10px 0 0 10px; padding-left:10px; width:135px; height:28px; font-family: Tahoma, Geneva, sans-serif; font-style:italic; border:1px solid #a16a03; white-space:nowrap; color:#CCC; }
.search_box div.button { margin-left:7px; background: url(../images/BTN_bg.png) repeat-x; width:43px; height:30px; float:left; margin-top:10px; border:1px solid #a16a03; }
/* IE7 */
* + html .product { height:160px	;}
* + html .search_box div.button { margin-top:11px; }
* + html .input_email { padding-left:10px; padding-top:7px; height:22px; }
* + html .text_style { padding-top:7px; height:22px; }
/* IE7 */
.search_box div.button a { width:43px; height:30px; top:10px; bottom:-3px; padding:11px 12px 5px 14px; position: relative; }

.support , .hot_product_box { margin-top:20px; background-color:#f1dbb2; width:208px; height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; }
.hot_product_box { border-left:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4; border-right:1px solid #b4b4b4; }
.support_container { margin:10px; }
.support_icon { width:41px; height:80px; float:left; margin-right:10px;}
.hotline p { font-weight:bold; font-size:12px; }
.hotline p.number { font-size:14px; color:#db0000; }
.Yhonoff_icon { margin: 10px 0 10px 52px; }
.hot_product { background-color:#FFF;}
.hot_product a { background-color:#FFF;}

/******** Footer *******/
.footer { clear:left; margin-top:20px; background-color:#f1dbb2; border-top:1px solid #e7cb95; border-bottom:1px solid #e7cb95; }
.footer_container { margin:0 auto; width:960px; height:150px; }
.copy_right { width:350px; margin-top:17px; border-right:1px solid #563800; float:left; }
.copy_right p { margin-bottom:10px; font-size:14px; font-weight:bold; }
.footer_container .info { margin:13px 0 0 20px; float:left; line-height:24px; }

/******* sub page *******/
/**** title ****/
.sub_right_column { width:730px; height:auto; margin:20px 0 0 10px; float:left; }
.sub_title { height:40px;}
.sub_title img { width:32px; height:32px; float:left; margin-right:10px; padding-top:5px; }
.sub_title .text_title , .prod_container .text_title { width:688px; border-bottom:1px solid #4b2e11; margin-left:42px; padding:10px 0 3px 0 ; font-size:17px; color:#bb0418; text-transform:uppercase; }
.prod_container .text_title { font-size:15px; color:#5d3e17; margin: 0 0 10px 10px; padding:0 0 10px 0; line-height:15px; border-bottom:1px solid #e4cfa7; }

/**** Content ****/
.sub_content , .sub_prodContent { /*width:688px;*/ border:1px solid #f4e5d4; background-color:#fff7e9; padding:20px; line-height:26px;font-size: 12px; }
.sub_prodContent { /*width:708px;*/ padding:20px 10px; }
.sub_n-eContent { /*width:708px;*/ padding:10px; border:1px solid #f4e5d4; background-color:#fff7e9; }
.subContactContent { /*width:728px;*/ border:1px solid #f4e5d4; background-color:#fff7e9; padding-bottom:20px; } 
.sub_content embed { float:right; padding:0 0 10px 10px; }
.sub_content b { font-size:18px; }
.sub_content p { margin-bottom:20px; }
.sub_content span { font-weight:bold; font-family: Tahoma, Geneva, sans-serif; font-size:14px; }

.mainImgConatiner { width:400px; margin:0 10px 20px 0; float:left; }
.moreImgThumbContainer .imageThumb { width:50px; height:52px; float:left; border:1px solid #f4e5d4; margin:0 5px 10px 0;text-align: center;background-color: white; } 
.moreImgThumbContainer .imageThumb:hover ,
.imgThumbContainer:hover ,
.prodColor .colorProdImgthumb .imageThumb:hover ,
.ProdInfoContainer .info .size img:hover { border:1px solid #c6a566; }
.ProdInfoContainer .info .title-bar { float:left !important; margin-top:10px; }
/* IE7 */
* + html .ProdInfoContainer .info .title-bar { margin-top:0px; }
/* IE7 */
.imgThumbContainer { width:320px; height:auto; border:1px solid #f4e5d4; clear:left;margin-left: 0; }
.prodColor { width:400px; margin-top:20px; }
.prodColor p { line-height:12px; margin-bottom:10px; }
.prodColor .colorProdImgthumb .imageThumb { width:50px; height:52px; float:left; margin-right:5px; margin-bottom:5px; border:1px solid #f4e5d4;text-align: center;background-color: #fff; }
.ProdInfoContainer { width:268px; margin-left:10px; float: left; }
.nameIDcontainer { width:268px; height:62px; border-bottom:1px solid #f4e5d4; margin-bottom:20px; }
.ProdInfoContainer .nameIDcontainer p.prod_name { font-size:17px; color:#bb0418; margin-bottom:10px; line-height:14px; }
.ProdInfoContainer .nameIDcontainer p.prodID { font-size:18px; }
.ProdInfoContainer .info p { line-height:12px; font-size:14px; margin-bottom:10px; }
.ProdInfoContainer .info span { font-weight:normal; color:#bb0418; }
.ProdInfoContainer .info p.order { font-weight:bold; text-transform:uppercase; color:#bb0418; margin-bottom:18px; }
.ProdInfoContainer .info .materials { margin-bottom:10px; }
.ProdInfoContainer .info .color { margin-bottom:20px; }
.ProdInfoContainer .info .materials p ,
.ProdInfoContainer .info .color p { float:left; margin-right:5px; padding-top:3px; }
.ProdInfoContainer .info .size { clear:left; }
.ProdInfoContainer .info .size .prod_size { float:left; margin-right:5px; }
.ProdInfoContainer .info .size img { width:200px; /*height:94px;*/ border:1px solid #f4e5d4; }
.ProdInfoContainer2 { padding:20px 20px 0 20px; /*width:646px;*/ clear:left; background-color:#FFF; border:1px solid #f4e5d4; }
.ProdInfoContainer2 p { font-size:13px; margin-bottom:0px; line-height:26px; }
.ProdInfoContainer2 p.title_info { color:#ae1f25; /*margin-bottom:10px;*/ }
.prod_container ul , .paging ul { margin:0; padding:0; }
.prod_container ul li { width:216px; float:left; list-style:none; margin:0 10px 20px 10px; }
.prod_container ul li .prod-title-bar { width:100%; height:36px; background:url(../images/bg_prod_title.png) repeat-x; text-align:center; }
.prod_container ul li .prod-title-bar p { padding:5px 0; font-size:14px; color:#FFF; }
.prod_container ul li .prod_img { width:216px; height:244px; border-left:1px solid #f3e9dd; border-right:1px solid #f3e9dd; border-bottom:1px solid #efd8bd; }
.prod_container ul li .prod_id { width:107px; height:25px; background-color:#f3e9dd; border-right: 1px solid #FFF; float:left; text-align:center; }
.prod_container ul li .btn_detail { width:107px; height:25px; background-color:#f3e9dd; border-left: 1px solid #efd8bd; text-align:center; float:left; }
.prod_container ul li .btn_detail a { padding:5px; }/*32px*/
.prod_container ul li:hover .prod_img { border-left:1px solid #ae1f24; border-right:1px solid #ae1f24; border-bottom:1px solid #563800; }
.prod_container ul li:hover .prod_id ,
.prod_container ul li:hover .btn_detail { background-color:#ae1f24; color:#FFF; }
.prod_container ul li:hover .btn_detail { border-left:1px solid #563800; }
.prod_container ul li:hover .btn_detail a, .prod_container ul li:hover .prod_id a { color:#FFF;}
.prod_container ul li .btn_detail:hover, .prod_container ul li .prod_id:hover { background-color:#d90729; }
.paging { width:688px; clear:left; float:right; margin:0 10px; }
.paging ul { float:right; }
.paging ul li { list-style:none; float:left; margin-right:10px; line-height:14px; margin-top:6px; }
.paging ul li.ico_prev a { background:url(../images/ico_prev.png) bottom no-repeat; padding:7px 10px; }
.paging ul li.ico_next a { background:url(../images/ico_next.png) bottom no-repeat; padding:7px 10px; } 
.paging ul li.ico_prev , .paging ul li.ico_next { margin: 0 10px 0 0; }
.paging ul li a.active { color:#bb0418; font-weight:bold; } 
.paging ul li.select_number { margin-top:4px; }
.paging ul li.select_number select { float:left; margin-right:10px; }
.paging ul li.select_number p { white-space:nowrap; }

.n-eContent { width:708px; }
.n-eContent ul { margin:0; padding:0px; }
.n-eContent ul li { width:334px; height:150px; padding:10px; list-style:none; background-color:#f3e9dd; margin:10px; float:left; }
.n-eContent ul li div.cover { width:100px; margin-right:10px; float:left; }
.n-eContent ul li div.cover img { max-width: 100px; max-height: 90px; }
.n-eContent ul li div.summary { width:179px; display:block; float:left; }
.n-eContent ul li div.summary a { color:#bb0418; }
.n-eContent ul li div.summary h1 { font-size:14px; color:#bb0418; line-height:24px; margin-bottom:5px; }
.n-eContent ul li div.summary p { line-height:24px; font-size:12px; margin-bottom:0; }
.n-eContent ul li div.summary a.ico_more { background:url(../images/ico_more.png) center right no-repeat; padding:2px 5px 5px 5px; }
.n-eContent ul li:hover { background-color:#f1dbb2; }

.services { /*width:688px;*/ }
.services ul { margin:0; padding:0px; }
.services ul li { /*width:688px;*/ list-style:none; background-color:#f3e9dd; border:1px solid #e2c690; float:left; margin-bottom:20px; }
.services ul li div.services_container { /*width:648px;*/ height:auto; list-style:none; background-color:#f3e9dd ;  padding:20px; }
.services ul li div.cover { width:125px; height:90px; margin-right:10px; float:left; }
.services ul li div.summary { width:510px; display:block; float:left; }
.services ul li div.summary a { color:#bb0418; }
.services ul li div.summary h1 { font-size:14px; color:#bb0418; line-height:16px; margin-bottom:5px; }
.services ul li div.summary p { line-height:24px; font-size:12px; margin-bottom:0px; }
.services ul li div.show_more p { margin-bottom:0; width: 648px; }
.services ul li center { margin-top:20px; }
.services ul li center a { padding:7px 40px 7px 20px; color:#ae1f25; font-weight:bold; }
.services ul li center a.hide { background: #e2c690 url(../images/Hide_icon.png) 70px 9px no-repeat; }
.services ul li center a.show { background: #e2c690 url(../images/show_icon.png) 70px 9px no-repeat; }
.services ul li center a:hover { background-color:#ead1a1; }
.services ul li:last-child { margin-bottom:0; }

.subContactContent .banner { padding: -20px; }
.subContactContent center { padding:20px 0; margin: 0px 20px ; border-bottom:1px solid #f3e9dd;  }
.subContactContent center h1 { font-size:17px; margin-top:15px; }
.subContactContent .contact_container { margin:5px 20px 0 20px; background-color:#f3e9dd; } 
.subContactContent .contact_container .company_info { width:350px; float:left; }  /*width:388px;*/
.subContactContent .contact_container .company_info ul { margin:0; padding:0; }
.subContactContent .contact_container .company_info ul li { padding:10px; list-style:none; border-top: 1px solid #FFF; border-bottom:1px solid #ead5bc; }
.subContactContent .contact_container .company_info ul li:first-child { border-top: 0; }
.subContactContent .contact_container .company_info ul li:last-child { border-bottom:0; }
.subContactContent .contact_container .form { width:338px; float:left; background-color:#ae1f25; padding:10px; }
.subContactContent .contact_container .form h4 { font-size:15px; color:#FFF; margin-bottom:10px; text-transform:uppercase; }
.subContactContent .contact_container .form_name { margin:1px 16px 0 0; color:#FFF; float:left; }
.subContactContent .contact_container .form_name p { margin-bottom:10px; }
.subContactContent .contact_container form { float:left; width:230px; }
.subContactContent .contact_container .form input { margin-bottom:8px; }
.form-group label {
    color: #fff;
}
.subContactContent .contact_container .form-control {
    height: 28px;
    float: left;
    width: 92%;
}
.subContactContent .contact_container span.form-control {
    float: right;
}
.subContactContent .contact_container .form-group {
    clear: both;
}
.subContactContent .contact_container .form-group .col-sm-3 {
    padding:0;
    margin: 0;
}
.subContactContent .contact_container .form textarea {min-height:80px; }
.title_bar_order { width:100%; background-color:#F1DBB2; height:39px; border-bottom:1px solid #dbbfa2; }
.title_bar_order h2 { font-size:17px; color:#6b4f2b; padding:8px 0 0 20px; text-transform:uppercase; }
.form_order { margin:0 auto; width:528px; margin-top:30px ;height: 540px; }
.form_order .form_name , .form_order div { float:left; }
.form_order .form_name { width:106px; font-size:14px; }
.form_order .form_name p { line-height:39px;}
.form_order div { width:422px;}
.form_order input , .form_order textarea  { width:400px; height:auto; background-color:#f8f1e9; border:1px solid #d8cfc4; margin-bottom:20px; max-width:520px; min-width:400px; min-height:13px; }
.form_order input { height:37px; padding:0 10px }
.form_order textarea { padding:10px; }
.form_order .title-bar , .ProdInfoContainer .info .title-bar { clear:left; width:120px; float:right; border-right:1px solid #513212; }
/* IE7 */
* + html .form_order .title-bar { clear:none; }
/* IE7 */
.form_order .title-bar a , .ProdInfoContainer .info .title-bar a { padding-top:7px; display:block; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.table_product_list { width:100%; height:auto; border-top:1px solid #e2c690; border-left:1px solid #e2c690; border-bottom:1px solid #e2c690; }
.table_product_list p { margin:0; }
.table_product_list .prodID_title , .table_product_list .prodName_title , .table_product_list .prodAmount_title , .table_product_list .prodPrice_title , .table_product_list .prodID , .table_product_list .prod_purchased , .table_product_list .prod_amount , .table_product_list .prod_price 
{ text-align:center; vertical-align:middle; height:31px; background-color:#f3e9dd; border-right:1px solid #e2c690; border-bottom:1px solid #e2c690; }
.table_product_list .prodID_title , .table_product_list .prodID { width:100px; }
.table_product_list .prodName_title , .table_product_list .prod_purchased { width:360px; }
.table_product_list .prodAmount_title , .table_product_list .prod_amount { width:96px;}
.table_product_list .prodPrice_title , .table_product_list .prod_price { width:129px; }
.table_product_list .prodID , .table_product_list .prod_purchased , .table_product_list .prod_amount , .table_product_list .prod_price { height:93px; }
.prodID p { width:100px; }
.table_product_list .prod_purchased .prodImg { width:73px; float:left; padding:10px; }
.table_product_list .prod_purchased .prodImg img { float:left; }
.table_product_list .prod_purchased .prodName { width:258px; text-align:left; }
.table_product_list .prod_purchased .prodName a:hover { color:#bb0418; }
.table_product_list .prod_amount input { width:68px; height:18px; text-align:center; font-size:12px; }
.table_product_list .prod_price span { font-weight: normal; font-size:12px; }
.table_product_list .total { padding-left:10px; font-weight:bold; }
.table_product_list .total_price { height:28px; text-align: center; border-right:1px solid #e2c690; }
.table_product_list .total_price span.float { float:right; }
.table_product_list .total_price p , .total_price span { font-weight:bold; font-size:12px; padding-right:5px; }

/*** DDL ****/
.materials , .color { margin:0; /*height:23px;*/ }
.materials p , .color p { margin-top:4px; width:70px; }
.dropdow_bg { width:125px; height:23px; background: url(../images/dropdowlist.jpg)center left no-repeat; }
.wrapper-dropdown-1 { position: relative; width: 125px; height:23px; margin: 0 auto; color: #fff; outline: none; cursor: pointer; background: url(../images/dropdowlist.jpg) center left no-repeat !important; float:left; }
.wrapper-dropdown-1 span { padding-left:5px; color:#4D2B00 !important; font-size:12px; }
.wrapper-dropdown-1:after { background: url(../images/dropdowlist.jpg)center right no-repeat; position: absolute; }
.wrapper-dropdown-1 .dropdown { display:none; margin:0; padding:0; position: absolute;left: 0; right: 0; background: #fff; list-style: none; font-weight: normal; opacity: 0; border:1px solid #4D2B00; border-top:0; top:22px; z-index:5; }
.wrapper-dropdown-1 .dropdown li a { display: block; text-decoration: none; color: #4D2B00; padding-left:5px; text-align:left; }	
.wrapper-dropdown-1 .dropdown li:hover a {  background: #f4e5d4; }

.wrapper-dropdown-1.active .dropdown { display:block; opacity: 1; pointer-events: auto; }
.wrapper-dropdown-1.active { background:url(../images/dropdowlist.jpg) center left no-repeat; }

.button img {
	vertical-align: inherit;
}
.partnes_container {
	width: 208px;
}
.partners-inner {
	width: 188px;
	margin-left: 9px;
}
.partner-item img {
	border: 1px solid #B4B4B4;
	background-color: #FFFFFF;
}
.partner-item-saparator {
	width: 188px;
	height: 1px;
	border-top: 1px dashed #B4B4B4;
	margin: 7px 0;
}

/*********************************/

/* Main menu container */
.menuContent
{
	float: left;
	height: 44px;
}

/*--------- dnn menu style ----------*/
/* main menu td */

.mainMenu 
{
	cursor:pointer;
	font-size: 11px; 
	background-color:transparent;
	/*width:970px;	*/
}
.mainMenu .root
{	
	color: #FFF;
	font-size: 14px; 
	font-weight:bold; 	
	text-align:center;
	padding: 14px 15px 13px 15px;
	text-transform:uppercase; 
	white-space:nowrap;	
	float:left;		
}
.mainMenu .root.last
{
	/*padding: 13px 0px 17px 0px;*/
}

/* Main menu hover */
.mainMenu .hov {
	color: #a7020c;
	background:url(../images/bg_menu_hover.png) repeat-x bottom left;
}

/* Main menu selected */
.mainMenu .sel, .mainMenu .bc {
	color: #a7020c;
	background:url(../images/bg_menu_hover.png) repeat-x bottom left;
}
.mainMenu .sel span, .mainMenu .hov span	
{
	padding-bottom: 5px;
}

.mainMenu table{	
	background-color: #A4010A;
	z-index: 5000;	
	max-width: 300px;
	min-width: 150px;    
    margin-top: 0px;           
	}

/* SUB Menu Normal */
.mainMenu tr.mi{
	background-color: #A4010A;
	z-index: 1000;
	font-size: 12px; 
	font-weight:normal;
	text-align:left;	
	color: white;	
	text-transform:none; 
}

.mainMenu tr.mi td{
padding: 5px 15px; 
text-transform:none;
}

.mainMenu tr.mi td.icn
{
	padding: 0px
}

/* SUB Menu hover & selected */
.mainMenu tr.hov span	
{
	color: #a7020c;
	background-image: none;
}
.mainMenu tr.sel span	
{
	color: #a7020c;
	background-image: none;
}

.mainMenu tr.hov  
{
	background:url(../images/bg_menu_hover.png) repeat-x bottom left;
}

.mainMenu tr.hov td{
	color:#fff;
}

.mainMenu tr.sel, .mainMenu tr.bc{
	background:url(../images/bg_menu_hover.png) repeat-x bottom left;
}

.mainMenu tr.sel td, .mainMenu tr.bc td{
	color:#fff;
}

.main_dnnmenu_break{
	height: 2px;
	background-color: #D5E0FF;
}


/*********************************************/

a:link, a:visited, a:active { text-decoration:none; color:#4d2b00; }

.center_right_column { width:720px; height:auto; margin:20px 10px 0 10px; float:left; }

.login-panel { text-align: right; width:960px;margin: 0 auto;}
.login-panel a { line-height: 22px;}
.copy_right_text { font-size: 14px; }
.newsDetails p
{
    line-height: 20px;
    padding: 10px 0;
    font-weight: normal;
    margin: 0px;
}
a.newsLink
{
    color: #0981cd; 
    font-weight: bold;
}
.newsTitle
{
    font-size: 20px;
    font-weight: bold;
}
.contact-button
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    color: #888888;
    height: 20px !important;
    margin-bottom: 10px !important;
    padding: 0 10px;
    width: 45px !important;
    text-align:center;
    cursor: pointer;
}
.subContactContent .contact_container .contact-button
{
    margin-left: 82px;
    margin-top: 3px;
}
.contactUsResult
{
    height: 220px;
    color: white;
    font-weight: bold;
}

.services .summary p span
{
    font-weight: normal;
}
div.show_more
{
    padding-top: 10px;
}
.show_more p
{
    font-weight: normal;
    display: block;
}

h1.calDataRow a
{
    font-size: 14px;
    color: #bb0418;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 0px;
}
p.calData
{
    line-height: 16px;
    font-size: 13px;
    margin-bottom: 10;
}
.txtSearch
{
    color: Black;
    font-style: normal;
}
.searchHighlight
{
    background-color: Yellow;
}
.footer_container a {
	color: #bb0418;
}
.footer_container a:hover {
	color: #bb0418;
	text-decoration: underline;
}
.breadcrumbs {
	padding: 0 0 12px 10px;
	margin-top: -7px;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
ol.intro {
	/*font-weight: bold;*/
	padding-left: 20px;
}
ol.intro p, ol.intro ul,  ol.intro ul li {
	font-weight: normal;
}
#dnnCPWrap {
	height: 22px;
}
.large_button {
    background-color: #FFE1E2;
    border: 1px dotted #AE1F25;
    height: auto;
    margin-top: 20px;
    padding: 3px;
    /*width: 202px;*/
}
.large_button .btn_bg {
    background: url("images/bg_title.png") repeat-x;
    height: 41px;
    width: 100%;
}
.large_button .btn_container {
    position: relative; 
    width: 130px;
	text-align: center;
	/*width: 160px;*/
}
.large_button .btn_bg img {
    float: left;
    margin: 7px 5px 8px 10px;
	width: 35px;
	/*Removed*/
	left: -65px;
    position: absolute;
    top: -25px;
}
.large_button .btn_container_2 {
    position: relative; 
    width: 150px;
	text-align: center;
	/*width: 160px;*/
}
.large_button .btn_bg .btn_container_2  img {
    float: left;
    left: -54px;
    margin: 7px 5px 8px 10px;
    position: absolute;
    top: -24px;
    width: 28px;
}
.btn_bg p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 0;
    text-transform: uppercase;
}

.fb_icon {
    float: left;
    height: 47px;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-indent: -999px;
    top: 275px;
    width: 48px;
    z-index: 2000;
}
.fb_icon_mobile {
    text-indent: -999px;
}
.fb_icon a, .fb_icon_mobile a {
    background: url("../images/fb_icon.jpg") no-repeat scroll left top #fff;
    float: left;
    height: 48px;
    width: 48px;
}
.fb_icon a:hover {
    background: url("../images/fb_icon.jpg") no-repeat scroll left bottom #fff;
}

.download-container table { font-size: 12px; }
.download-container .photo-credit { padding-left: 10px;}
.download-container .download-link { padding-right: 10px;}

.statistics.download-sidebar { text-align: center; }
.statistics .download-link { margin-top: 10px; }

/***********************************/

.LoginPanel .dnnLoginActions {
	display: none;
}
.btnLogin {
	margin-left: 203px;
}
.gray-line {
	background: url('../images/line.png') #FFFFFF no-repeat;
	width: 100%;
	height: 15px;
}
.product { background-color: white;text-align: center;height: 163px !important; }
.product_info { text-align: left; }
.product_show .title-bar p { text-align:left; padding-left:10px; }

.product-margin {
    margin: 10px 10px 0;
}

a.link-details, a.link-details:hover {
	color: #4d2b00;
}

.category-listing {
	margin-top: 0px !important;
	width: 100%;
}
.windowInfoPopup
{
    width: 220px;
    height: 100px;
    z-index: 100;
}
.searchMapItem
{
    padding-bottom: 5px;
}
.contentSearchMap
{
    padding: 10px;
}
.topSearchMap
{
    /*position: absolute; 
    top: 10px; 
    left: 10px; 
    border: solid 1px #333; 
    border-radius: 3px; 
    background: white; 
    width: 170px;*/
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #425362;
    box-shadow: 2px 2px 10px #000000;
    left: 18px;
    position: absolute;
    top: 10px;
    padding-bottom: 10px;
}
.shop-button
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    color: #888888;
    float: right;
    padding: 0 8px;
    cursor: pointer;
}
.prod_img_inner {
	width: 212px;
	height: 219px;
	overflow: hidden;
	background-color: #FFF;
	text-align: center;
}
.prod_img img {
	max-width: 214px;
	max-height: 219px;
}
.product_image_inner {
	width: 100%;
	height: 141px;
	overflow: hidden;
	background-color: #FFF;
	text-align: center;
}
.product_image_inner img {
    max-width: 150px;
    max-height: 139px;
}
.imgThumbContainer {
	height: auto!important;
	line-height: 0px;
}
.imageThumb img {
	max-width: 50px;
	max-height: 50px;
}


.prodColor {
    clear: both;
    display: block;
    padding-top: 20px;
    width: 400px;
}
.imgThumbContainer:hover { /*border: none !important;*/ }

.table_product_list {
	font-size: 12px;
	border: 1px solid #e2c690;
	border-collapse: collapse;
}
.table_product_list table {
	font-size: 12px;
}
a.red-button, a.red-button:visited, a.red-button:hover {
	width: 150px;
	height: 41px;
	background: url(images/bg_title.png) repeat-x;
	text-align: center;
	padding-top: 7px;
	display: inline-block;
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
.checkout-container {
	width: 100%;
	display: block;
	text-align: right;
	margin-top: 10px;
}
.info {
	font-size: 14px !important;
}
.title_info {
	font-size: 15px!important;
	font-weight: bold!important;
}
p.order {
	font-size: 15px!important;
	font-weight: bold!important;
	margin-top: 24px;
}
.ProdInfoContainer .info .size {
	margin-top: 15px;
}
.materials p, .color p {
	width: 80px!important;
}
.access_statistics_box .statistics ul li {
	list-style-type: none!important;
}
.clr {
	clear: both;
}
.searchLeft
{
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}
.margin-top-15 {
	margin-top: 15px;
}
.ProdInfoContainer2 span {
	font-weight: normal;
}

.services .cover img
{
    max-width: 125px;
    max-height: 90px;
}
.services .show_more img
{
	max-width: 650px;
}
.partner-icon {
	float: left;
    left: -25px;
    margin: 9px 7px 7px;
    position: absolute;
    top: -25px;
    width: 35px;
}

a, a:hover,
span[class*='icon-'],
input[type="submit"] {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}


/*Ha Huynh Edit*/

/*Footer Menu*/
.footerRow2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: block;
  background: #d2181f;
  padding-bottom: 40px;
}
.box-heading {
  padding: 0;
}
.box-title {
  margin: 0;
  cursor: pointer;
}
.footerBar .box-title a {
  color: #3d3d3d;
  border: none;
}
.box-title a {
  display: block;
  border-bottom: 1px solid #ccc;
}
.footerBar .barspan {
  font-size: 0.8em;
  margin-top: 4px;
  padding: 10px;
}
.footerBar span {
  color: white;
  font-size: 1.4em;
}
.barspan {
    display: inline-block;
    padding: 25px 12px 25px 12px;
    text-transform: uppercase;
    font-size: 1.2em;
    word-wrap: break-word;
}

.barspan {
    margin: 6px 0 0 0;
}
.footerBar .baricon {
  height: 52px;
  padding: 17px 16px 0 16px;
  border-left: 1px solid white;
}
.footerRow2 h5, .footerBar span {
  color: white;
  font-size: 1.4em;
}
.full-content {
    margin: 0 auto;
    width: 960px;
}
.full-content .sub_content {
    padding: 0 !important;
}
.full-content .text_title {
    width: 95%;
}

#shop_map_canvas {
  width: 688px;
  height: 630px;
}

table.t_paging {
    width: 280px;
}
    table.t_paging .pageBox {
        text-align: center;
    }