﻿@media (max-width: 767px) {
    .stickyHeader {
        position: static;
        z-index: 1000;
        background-color: white;
    }
    .center_column {
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
    }   
    .footer_container .copy_right, .footer_container .info {
        width: 100%;
        padding: 10px;
    }
    body {
        background-color: #fff;
    }

    .fb_icon {
        display: none;
    }

    .container {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .mobile-search-container {
        display: block;
        height: 36px;
        background: url('../images/search-icon.png') right 10px top 2px no-repeat;
        background-color: transparent;
    }

    .mobile-search-container a {
        position: absolute;
        right: 0;
    }

    .mobile-search-container a img {
        width: 40px;
        height: 36px;
    }

    .input-mobile-search {
        padding-right: 0px!important;
        font-weight: 300;
        font-size: 18px;
        border: solid 1px #c9caca;
        background: transparent;
        width: 100%!important;
        height: 36px!important;
        line-height: 26px;
        padding-left: 8px;
    }

    .footer_container {
        width: 100% !important;
        height: auto;
    }

    .footer_container .copy_right, .footer_container .info {
        margin: 0;
        float: none;
        font-size: 12px;
        border-right: none;
        text-align: center;
    }
    
    .copy_right_text {
        font-size: 12px;
    }

    /******Layout*************/
    .breadcrumbs {
        padding: 0 0 12px 0px;
        margin-top: 0;
    }
    .sub_right_column {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        float: none;
    }
    .content {
        width: 100%;
    }
    .sub_title .text_title, .prod_container .text_title {
        width: auto;
    }

    /**********************************/
    .logoRow {
        width: 100%;
        /*padding-bottom: 12px;*/
    }
    .row2mid {
        padding: 4px 0 0 0;
    }

    .contactWrap {
        display: inline-block;
        margin-top: 10px;
        float: right;
    }

        .contactWrap a {
            display: inline-block;
            color: #828383;
            font-size: 1em;
            padding: 0px 19px 0px 19px;
        }

            .contactWrap a:hover {
                color: #00529b;
            }

            .contactWrap a:first-child {
                padding-left: 0;
                border-right: 1px solid #e6e6e6;
            }

            .contactWrap a:last-child {
                padding-right: 20px;
            }

        .contactWrap .icon-contact {
            font-size: 0.786em;
        }

    .row2Left {
         padding: 15px 0 0 0;   
    }

    .row2right {
        padding: 33px 0 0 0;
    }
        /* Search */
        .row2right .input-group {
            width: 70%;
            float: right;
        }

            .row2right .input-group .SearchContainer {
                width: 100%;
                height: 38px;
                float: right;
                background-color: #FFFFFF;
                display: table;
                margin: 0;
                border-collapse: collapse;
                border-spacing: 0;
            }

                .row2right .input-group .SearchContainer .SearchIcon {
                    display: none;
                }

                .row2right .input-group .SearchContainer .SearchBorder {
                    border: 0;
                    background: none;
                    display: table-cell;
                    /*width: 85px;*/
                    /*height: 100%;*/
                }

                .row2right .input-group .SearchContainer .searchInputContainer {
                    width: 100%;
                    height: 100%;
                }

                .row2right .input-group .SearchContainer .SearchTextBox {
                    background: url("../images/iconMag.png") no-repeat scroll 10px center #FFFFFF !important;
                    border: 1px solid #E6E6E6;
                    color: #C0C0C0 !important;
                    font-weight: 100 !important;
                    width: 100%;
                    height: 40px;
                    line-height: 38px;
                    padding-left: 30px !important;
                    padding-right: 20px;
                    position: relative;
                }

                .row2right .input-group .SearchContainer .SearchButton {
                    background: none repeat scroll 0 0 #00529B;
                    color: #FFFFFF;
                    display: table-cell;
                    font-family: "opensanslight",sans-serif;
                    height: 38px;
                    width: 21px;
                    text-align: center;
                    line-height: 38px;
                    padding: 0 12px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    text-transform: uppercase;
                    /*float: left;*/
                }


    .input-group.searchActive {
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(217, 229, 240, .75);
        -moz-box-shadow: 0px 0px 15px 5px rgba(217, 229, 240, .75);
        box-shadow: 0px 0px 15px 5px rgba(217, 229, 240, .75);
    }

    .headline1 {
        line-height: 35px;
        padding-bottom: 10px;
    }

    /* mHeader */
    .mHeader {
        margin: 5px auto;
    }

    .mHeaderL {
        padding: 0;
        text-align: center;
        /*height: 96px;*/
    }

    .mHeaderR {
        padding: 0;
        text-align: center;
        /*height: 96px;*/
    }

    .mHeaderM {
        /*height: 96px;*/
        text-align: center;
        display: block;
    }

    .mOpen, .mCall {
        width: 32px;
        display: inline-block;
    }

    .mHeaderL a, .mHeaderR a {
        color: #D2181F;
        cursor: pointer;
    }

    .mHeaderL a {
        padding: 26px 0 0 0;
    }

    .mHeaderR a {
        padding: 20px 10px 0 0;
    }

    .mHeaderL a:hover {
        color: #D2181F;
    }

    .mHeaderL span, .mHeaderR span {
        text-align: center;
        float: left;
    }

    .mHeaderL .icon-menu {
        margin: 0 0 10px 6px;
    }

    .mHeaderR .icon-phone {
        font-size: 1.5em;
        margin: 0 0 10px 6px;
    }

    .iconLabel {
        width: 100%;
        clear: both;
        font-size: 11px;
        text-transform: uppercase;
    }

    /*Row 2*/
    .row2 {
        padding: 0;
    }

    .row2Left {
        padding: 0 5px;
    }

    .borderBottom {
        border-bottom: 1px solid #e6e6e6;
    }

    .row2right {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #e6e6e6;
        text-align: center;
        width: 100%;
    }

        .row2right .input-group {
            float: none;
            margin: 0 auto 0 auto;
            width: 100%;
        }

        .row2right .searchSkinObjectPreview {
            text-align: left;
        }


    /* Row 3 : top menu */
    .overlay {
        height: 0;
        display: block;
        opacity: 0;
        position: relative;
    }

    .overlay-show {
        display: block;
        position: absolute;
        top: 0;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 10000;
    }



    .mobileMainNav {
        background: none;
        height: 100%;
        display: none;
        padding-top: 0;
        position: relative;
    }

    .topMobileNav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

        .topMobileNav ul.megamenu, .topMobileNav ul.megamenu .sub > ul, ul.topMobileOtherNavs {
            padding: 0;
        }

        .topMobileNav ul.megamenu > li {
            width: 100%;
            border-bottom: 1px solid #e6e6e6;
            display: table;
        }

        .topMobileNav ul.megamenu > li, .topMobileNav ul.megamenu .sub > ul > li,
        .topMobileOtherNavs > li {
            list-style: none;
        }

            .topMobileNav ul.megamenu > li a {
                display: table-cell;
                width: 100%;
                text-align: left;
                color: #000;
                /*float: left;*/
                font-size: 14px;
                padding: 10px;
                text-align: left;
                text-decoration: none;
                text-transform: uppercase;
            }

            .topMobileNav ul.megamenu > li.level0 .childIndicator {
                color: #FFF;
                display: block;
                font-size: 10px;
                line-height: 20px;
                padding: 10px 18px 10px 18px;
                /*position: absolute;
                right: 0;
                top: 0;*/
                background-color: #A70E11;
                cursor: pointer;
                display: table-cell;
            }

        .topMobileNav ul.megamenu .sub {
            position: absolute;
            top: 0;
            left: 240px;
            width: 240px;
            padding: 0;
            margin: 0;
            display: none;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

            .topMobileNav ul.megamenu .sub.open {
                display: block;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                -ms-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }

            .topMobileNav ul.megamenu .sub > ul {
                margin: 0;
            }

                .topMobileNav ul.megamenu .sub > ul > li {
                    border-bottom: 1px solid #e6e6e6;
                }

                    .topMobileNav ul.megamenu .sub > ul > li > a {
                        display: block;
                    }

                    .topMobileNav ul.megamenu .sub > ul > li.back-button {
                        padding: 20px 10px;
                    }

                        .topMobileNav ul.megamenu .sub > ul > li.back-button a {
                            position: relative;
                            text-transform: uppercase;
                            border: 1px solid #e6e6e6;
                            padding: 9px 14px 8px 14px;
                            margin: 20px 0 20px 0;
                            display: inline !important;
                        }

                        .topMobileNav ul.megamenu .sub > ul > li.back-button .icon-arrow-left-generic {
                            display: inline-block;
                            color: #898A89;
                            margin: 4px 8px 0 0;
                            font-size: 10px;
                        }

        .topMobileNav ul.megamenu li > a:hover, ul.megamenu li.activeNav > a {
            background: none;
        }

        .topMobileNav ul.megamenu li.separator {
            display: none;
        }

        .topMobileNav li.level0 {
        }

        /* Custom Left Contact Information */
        .topMobileNav .contactWrapM {
            padding-top: 0;
            display: block;
            width: 100%;
            float: left;
        }

            /*.topMobileNav .contactWrapM li:first-child {
                border-top: 1px solid #e6e6e6;
            }*/
            .topMobileNav .contactWrapM > li {
                border-bottom: 1px solid #e6e6e6;
                padding-left: 10px;
            }

            .topMobileNav .contactWrapM a {
                display: block;
                padding: 10px 10px 10px 0;
                color: #828383 !important;
                width: 100%;
                text-decoration: none;
            }

                .topMobileNav .contactWrapM a:hover, .contactWrapM a:hover .icon-arrow-right-generic {
                    color: #2774b9 !important;
                }

            .topMobileNav .contactWrapM .icon-get-directions {
                margin: 0 8px 0 0;
                font-size: 16px !important;
            }

            .topMobileNav .contactWrapM .icon-contact {
                margin: 0 8px 0 0;
                font-size: 11px !important;
            }

            .topMobileNav .contactWrapM .icon-arrow-right-generic {
                color: #898a8a;
                display: inline-block;
                float: right;
                font-size: 10px;
                margin: 4px 0 0;
            }



    .push {
        height: 100%;
        position: relative;
        width: 100%;
    }

        .push.open-right {
            height: 100%;
            right: 240px;
            width: 100%;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;
        }

        .push.open-left {
            height: 100%;
            width: 100%;
            left: 240px;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;
        }



    .fly-in-right {
        background: none repeat scroll 0 0 #FFFFFF;
        box-sizing: border-box;
        height: 100%;
        right: -240px;
        position: absolute !important;
        top: 0;
        width: 240px;
        display: block !important;
        padding: 0 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: all 1s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
    }

    .fly-in-left {
        background: none repeat scroll 0 0 #FFFFFF;
        moz-box-shadow: inset -10px 0 10px -8px rgba(0, 0, 0, .2);
        -webkit-box-shadow: inset -10px 0 10px -8px rgba(0, 0, 0, .2);
        box-shadow: inset -10px 0 10px -8px rgba(0, 0, 0, .2);
        box-sizing: border-box;
        height: 100%;
        left: -240px;
        position: absolute !important;
        top: 0;
        width: 240px;
        display: block !important;
        padding: 0 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 1s linear;
        -moz-transition: all 1s linear;
        -o-transition: all 1s linear;
    }


    /*********************************/
    /* Contact Modal */
    body .modal-contact {
        position: absolute;
        width: 300px;
        top: 10px;
        left: 50%;
        /* must be half of the width, minus scrollbar on the left (30px) */
        margin-left: -150px;
    }

    #modalContact .modal-header {
        border: none;
    }

    #modalContact .modal-title {
        text-align: center;
        font-family: "opensanslight", sans-serif;
        font-size: 1.571em;
        text-transform: uppercase;
        color: #000;
    }

    #modalContact .modal-body {
        padding: 0 20px 20px 20px;
    }

    .mBtn {
        display: table;
        width: 100%;
        margin: 0 0 20px 0;
        border: 1px solid #e6e6e6;
    }

        .mBtn a {
            display: block;
            padding: 0;
            margin: 0;
        }

        .mBtn .mBtnLeft {
            display: table-cell;
            vertical-align: middle;
            margin: 0;
            color: #00529b;
            width: 38px;
            padding: 0 0 0 11px;
            border-right: 1px solid #e6e6e6;
        }

        .mBtn .mBtnRight {
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
            font-family: "opensans", sans-serif !important;
            font-size: 1em;
            line-height: 1.25em;
            text-transform: uppercase;
            color: #000;
            vertical-align: middle;
        }

        .mBtn a:hover .mBtnLeft {
            color: #1a6cb5;
        }

        .mBtn a:hover .mBtnRight {
            color: #1a6cb5;
        }

        .mBtn .genInfo {
            margin: 10px 0 0 0;
        }

    /***Product Listings******************/
    .prod_container ul li {
        width: 100%;
        float: none;
        margin: 0 0px 20px 0px;
    }
    .prod_container ul li .prod-title-bar {
        width: 216px;
    }
    .mainImgConatiner {
        width: 100%;
    }
    .imgThumbContainer {
        width: 100%;
    }
    .imgThumbContainer .main-photo.zoom img {
        width: 100%;
    }
    .prodColor {
        width: 100%;
    }
    .paging {
        width: 100%;
        margin: 0;
    }
    .paging ul {
        float: none;      
        text-align: center;
        width: 100%!important;
        text-align: center;
    }
        .paging ul li {
            float: none;
            display: inline-block;
        }

    /*Ha Huynh Edit*/
    /*Footer Menu*/
    .footerRow2 {
      padding: 0px 10px 0 10px;
      /*margin-top: 20px;*/
    }
    .footerRow2 .footerGroup {
      margin: 0;
      padding: 0;
    }
    .footerWrap {
      margin: 0 0 10px 0;
      border: 1px solid white;
    }
    .footerBar .barspan {
      font-size: 1.4em;
      display: inline-block;
    }
    .footer {
        margin-top: 0px;
        padding-bottom: 30px;
    }

    /***Catalogue****/
    .full-content, .jcarousel  {
        width: 100%!important;
        height: auto!important;
    }
    .jcarousel-control-prev, .jcarousel-control-next {
        top: 140px!important;
    }

    /*****Sub Footer *****/
    .sub-footer-nav {
        width: 100%;
    }
    .sub-footer-nav .inner {
        margin: 10px;
    }
    .sub-footer-nav .icon {
        float: left;
        display: block;
        width: 30%;
    }
    .sub-footer-nav .text {
        float: left;
        display: block;
        margin-left: 5%;
        width: 65%;
    }

    .subContactContent img {
        width: 100%;
        height: auto;
    }
    .subContactContent img.contact-logo {
        max-width: 165px;
        height: auto;
    }
    .subContactContent .contact_container .company_info {
        width: 100%;
        float: none;
    }
    .subContactContent .contact_container .form {
        width: 100%;
        float: none;
        padding-right: 0px;
    }
    .subContactContent .contact_container .form-group .col-sm-3 {
        padding-left:10px;
    }
    #shop_map_canvas {
      width: 100%;
      height: 250px;
    }
    .services ul li div.cover, .n-eContent ul li div.cover {
        width:22%;
        margin-right: 3%;
    }
    .services ul li div.cover img, .n-eContent ul li div.cover img {
        width: 100%;
    }
    .services ul li div.summary, .n-eContent ul li div.summary {
        width: 75%;
    }
    .services ul li div.services_container {
        width: 100%;
    }
    .services .show_more img {
        width: 100%;
    }
    .services ul li div.show_more p {
        width: 100%;
    }
    .sub_content, .sub_prodContent, .sub_n-eContent {
        padding: 10px;
    }

    /* News */
    .n-eContent { width:100%; }
    .n-eContent ul { margin:0; padding:0px; }
    .n-eContent ul li { width:100%; height: auto; margin: 0; }
    .sub_n-eContent .n-eContent .newsDetails img { max-width: 100%; }

    /* Product Details */
    .ProdInfoContainer {
        margin-left: 0;
    }
    .btnOrder { display: none!important;}

    /*Subfooter*/
    .box-title {
        background-color: #FFF7E9;
    }
    .footerRow2 h5, .footerBar span {
        color: #D2181F;
    }
    .footerRow2 {
        text-shadow: none;
    }
    /*subfooter icons*/
    .icon-mobile {
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        margin: 5px;
        /*border: solid 1px white;
        background-color: white;*/
    }
    .icon-mobile.home {        
        background: url('/Portals/0/ico-home.png') no-repeat;  
    }
    .icon-mobile.intro {        
        background: url('/Portals/0/ico_about.png') no-repeat;  
    }
    .icon-mobile.products {        
        background: url('/Portals/0/ico_product.png') no-repeat;  
    }
    .icon-mobile.stores {        
        background: url('/Portals/0/ico_store.png') no-repeat;  
    }
    .icon-mobile.services {        
        background: url('/Portals/0/ico_services.png') no-repeat;  
    }
    .icon-mobile.news {        
        background: url('/Portals/0/ico_news.png') no-repeat;  
    }
    .icon-mobile.contact {        
        background: url('/Portals/0/ico_contact.png') no-repeat;  
    }
}
