﻿@charset "utf-8";
/* CSS Document */

* { margin:0 auto;}

body { background-color:#f8f1e9; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#4d2b00; }
a { text-decoration:none; color:#4d2b00; }
img { border:0; }
.clear { clear:both; }
/******* header ********/
.banner { width:960px; height:275px; background:url(images/Bg.jpg) no-repeat; }
.menu {	padding:0px; margin:5px 0px 0px 23px; width:100%; float:left; }
	
/**Ul1**/
.menu { width:100%; height:47px; background:url(../images/bg_menu.png) repeat-x ; margin:0; padding:0; }
#nav, #nav ul { width:960px; height:47px; margin:0 auto; padding:0; list-style:none; position: relative; }
#nav li { margin:0; float:left; list-style:none; position:relative; height:47px;}
#nav li a { height:32px; padding:15px 15px 0 15px; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; display:block ; float:left; }
#nav li ul a:link, #nav li ul a:active,
#nav li ul a:visited { padding:20px 15px 15px 15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; display:block ; }
#nav li a:hover , #nav li a.nav_selected { background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; }

/**Ul2**/
#nav ul { padding: 0 ; margin: 0 ; position:absolute ; display:none ; top:100%; left:0; width:auto; }
#nav li ul li, #nav li ul li a { float: none; width:auto; white-space:nowrap; }
#nav li ul a { width:auto; padding:15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#FFF; }
#nav li ul a:hover { background:url(../images/bg_menu.png) repeat-x ; color:#FFF; white-space:nowrap; }
#nav li:hover a { background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; }

/******* content *******/
.content { width:960px; height:auto; }
.left_column , .right_column { width:210px; height:auto; margin:20px 10px 0 0; float:left; }
.right_column { margin:20px 0 0 10px;}
.left_menu { width:210px; height:auto; }
.title-bar { width:100%; height:41px; background:url(../images/bg_title.png) repeat-x; text-align:center; }
.title-bar p { padding:12px 0; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.categories , .statistics { background-color:#f1dbb2; width:168px; height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; padding:20px ; }
.access_statistics_box .statistics ul { margin:0 ; padding:0; list-style:none; }
.access_statistics_box .statistics ul li { width:168px; height:17px; margin-bottom:10px; }
.access_statistics_box .statistics ul li:last-child { margin-bottom:0; }
.access_statistics_box .statistics ul li div.userolIcon ,
.access_statistics_box .statistics ul li div.oltodayIcon , 
.access_statistics_box .statistics ul li div.olyesterdayIcon , 
.access_statistics_box .statistics ul li div.olstatisticsIcon { width:17px; height:17px; float:left; margin-right:10px; }

.access_statistics_box .statistics ul li div.userolInfo ,
.access_statistics_box .statistics ul li div.oltodayInfo , 
.access_statistics_box .statistics ul li div.olyesterdayInfo , 
.access_statistics_box .statistics ul li div.olstatisticsInfo { width:130px; height:17px; float:left; margin-top:2px; }

.access_statistics_box .statistics ul li div.userolInfo p,
.access_statistics_box .statistics ul li div.oltodayInfo p, 
.access_statistics_box .statistics ul li div.olyesterdayInfo p, 
.access_statistics_box .statistics ul li div.olstatisticsInfo p { float:left; margin-right:5px; }
.categories { padding-bottom:10px; }
.categories ul { margin:0 0 0 10px; padding:10px 0 0 0; }
.categories ul ul { margin:0; }
.categories ul li { list-style:none; background:url(../images/bullet.png) left 5px no-repeat; padding-left:17px; margin-bottom:10px; }
.categories ul li:last-child { margin-bottom:0; }
.categories ul li li { background:url(../images/sub_bullet.png) left 5px no-repeat; }
.categories ul li a { font-size:13px; font-weight:bold; }
.categories ul li li a { font-weight:normal; }
.categories ul li a:hover , .categories ul li a.catg_selected { color:#b76600; }
.access_statistics_box { width:210px; height:auto; margin-top:20px;}
.center_column { width:500px; height:auto; margin:20px 10px 0 10px; float:left; }
.center_column .banner { width:500px; height:350px; }
.product_show .title p { text-align:left; padding-left:10px; }
.product_show { margin-top:20px; clear:left;}
.product { width:158px; height:157px ; float:left; border:1px solid #c4c4c4; margin-top:10px; }
#product { margin: 10px 10px 0 10px; }
.product_info { width:158px; height:18px; background-color:#e2e3e4; border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; }
.product_code { width:97px; height:18px; border-right: 1px solid #c4c4c4; float:left; }
.product_code p , .detail p { font-size:10px; color:#4d2b00; padding:3px 0 0 5px; }
.detail p { text-align:center; }
.search_box { width:208px; height:52px; background-color:#f1dbb2; border:1px solid #c6a566; }
.textbox { width:145px; height:30px; float:left; }
.input_email { margin:10px 0 0 10px; padding-left:10px; width:145px; height:28px; font-family: Tahoma, Geneva, sans-serif; border:1px solid #a16a03; white-space:nowrap; }
.text_style { margin:10px 0 0 10px; padding-left:10px; width:135px; height:28px; font-family: Tahoma, Geneva, sans-serif; font-style:italic; border:1px solid #a16a03; white-space:nowrap; color:#CCC; }
.search_box div.button { margin-left:7px; background: url(../images/BTN_bg.png) repeat-x; width:43px; height:30px; float:left; margin-top:10px; border:1px solid #a16a03; }
/* IE7 */
* + html .product { height:160px	;}
* + html .search_box div.button { margin-top:11px; }
* + html .input_email { padding-left:10px; padding-top:7px; height:22px; }
* + html .text_style { padding-top:7px; height:22px; }
/* IE7 */
.search_box div.button a { width:43px; height:30px; top:10px; bottom:-3px; padding:11px 12px 5px 14px; position: relative; }

.support , .hot_product_box { margin-top:20px; background-color:#f1dbb2; width:208px; height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; }
.hot_product_box { border-left:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4; border-right:1px solid #b4b4b4; }
.support_container { margin:10px; }
.support_icon { width:41px; height:41px; float:left; margin-right:10px;}
.hotline p { font-weight:bold; font-size:14px; }
.hotline p.number { font-size:14px; color:#db0000; }
.Yhonoff_icon { margin: 10px 0 10px 52px; }
.hot_product { background-color:#FFF;}
.hot_product a { background-color:#FFF;}

/******** Footer *******/
.footer { clear:left; margin-top:20px; background-color:#f1dbb2; border-top:1px solid #e7cb95; border-bottom:1px solid #e7cb95; }
.footer_container { margin:0 auto; width:960px; height:150px; }
.copy_right { width:350px; margin-top:17px; border-right:1px solid #563800; float:left; }
.copy_right p { margin-bottom:10px; font-size:14px; font-weight:bold; }
.footer_container .info { margin:13px 0 0 20px; float:left; line-height:24px; }

/******* sub page *******/
/**** title ****/
.sub_right_column { width:730px; height:auto; margin:20px 0 0 10px; float:left; }
.sub_title { height:40px;}
.sub_title img { width:32px; height:32px; float:left; margin-right:10px; padding-top:5px; }
.sub_title .text_title , .prod_container .text_title { width:688px; border-bottom:1px solid #4b2e11; margin-left:42px; padding:10px 0 3px 0 ; font-size:17px; color:#bb0418; text-transform:uppercase; }
.prod_container .text_title { font-size:14px; color:#5d3e17; margin: 0 0 10px 10px; padding:0 0 10px 0; line-height:14px; border-bottom:1px solid #e4cfa7; }

/**** Content ****/
.sub_content , .sub_prodContent { width:688px; border:1px solid #f4e5d4; background-color:#fff7e9; padding:20px; line-height:26px;font-size: 12px; }
.sub_prodContent { width:708px; padding:20px 10px; }
.sub_n-eContent { width:708px; padding:10px; border:1px solid #f4e5d4; background-color:#fff7e9; }
.subContactContent { width:728px; border:1px solid #f4e5d4; background-color:#fff7e9; padding-bottom:20px; } 
.sub_content embed { float:right; padding:0 0 10px 10px; }
.sub_content b { font-size:18px; }
.sub_content p { margin-bottom:20px; }
.sub_content span { font-weight:bold; font-family: Tahoma, Geneva, sans-serif; font-size:14px; }

.mainImgConatiner { width:400px; margin:0 10px 20px 0; float:left; }
.moreImgThumbContainer .imageThumb { width:50px; height:50px; float:left; border:1px solid #f4e5d4; margin:0 5px 10px 0; } 
.moreImgThumbContainer .imageThumb:hover ,
.imgThumbContainer:hover ,
.prodColor .colorProdImgthumb .imageThumb:hover ,
.ProdInfoContainer .info .size img:hover { border:1px solid #c6a566; }
.ProdInfoContainer .info .title-bar { float:left !important; margin-top:10px; }
/* IE7 */
* + html .ProdInfoContainer .info .title-bar { margin-top:0px; }
/* IE7 */
.imgThumbContainer { width:398px; height:368px; border:1px solid #f4e5d4; clear:left; }
.prodColor { width:400px; margin-top:20px; }
.prodColor p { line-height:12px; margin-bottom:10px; }
.prodColor .colorProdImgthumb .imageThumb { width:50px; height:50px; float:left; margin-right:5px; border:1px solid #f4e5d4; }
.ProdInfoContainer { width:268px; margin-left:10px; float: left; }
.nameIDcontainer { width:268px; height:62px; border-bottom:1px solid #f4e5d4; margin-bottom:20px; }
.ProdInfoContainer .nameIDcontainer p.prod_name { font-size:17px; color:#bb0418; margin-bottom:10px; line-height:14px; }
.ProdInfoContainer .nameIDcontainer p.prodID { font-size:18px; }
.ProdInfoContainer .info p { line-height:12px; font-size:14px; margin-bottom:10px; }
.ProdInfoContainer .info span { font-weight:normal; color:#bb0418; }
.ProdInfoContainer .info p.order { font-weight:bold; text-transform:uppercase; color:#bb0418; margin-bottom:18px; }
.ProdInfoContainer .info .materials { margin-bottom:10px; }
.ProdInfoContainer .info .color { margin-bottom:20px; }
.ProdInfoContainer .info .materials p ,
.ProdInfoContainer .info .color p { float:left; margin-right:5px; padding-top:3px; }
.ProdInfoContainer .info .size { clear:left; }
.ProdInfoContainer .info .size .prod_size { float:left; margin-right:5px; }
.ProdInfoContainer .info .size img { width:78px; height:94px; border:1px solid #f4e5d4; }
.ProdInfoContainer2 { padding:20px 20px 0 20px; width:646px; clear:left; background-color:#FFF; border:1px solid #f4e5d4; }
.ProdInfoContainer2 p { font-size:13px; margin-bottom:20px; line-height:14px; }
.ProdInfoContainer2 p.title_info { color:#ae1f25; margin-bottom:10px; }
.prod_container ul , .paging ul { margin:0; padding:0; }
.prod_container ul li { width:216px; float:left; list-style:none; margin:0 10px 20px 10px; }
.prod_container ul li .prod-title-bar { width:100%; height:36px; background:url(../images/bg_prod_title.png) repeat-x; text-align:center; }
.prod_container ul li .prod-title-bar p { padding:5px 0; font-size:14px; color:#FFF; }
.prod_container ul li .prod_img { width:214px; height:244px; border-left:1px solid #f3e9dd; border-right:1px solid #f3e9dd; border-bottom:1px solid #efd8bd; }
.prod_container ul li .prod_id { width:105px; height:25px; background-color:#f3e9dd; border-right: 1px solid #FFF; float:left; text-align:center; }
.prod_container ul li .btn_detail { width:107px; height:25px; background-color:#f3e9dd; border-left: 1px solid #efd8bd; text-align:center; float:left; }
.prod_container ul li .btn_detail a { padding:5px; }/*32px*/
.prod_container ul li:hover .prod_img { border-left:1px solid #ae1f24; border-right:1px solid #ae1f24; border-bottom:1px solid #563800; }
.prod_container ul li:hover .prod_id ,
.prod_container ul li:hover .btn_detail { background-color:#ae1f24; color:#FFF; }
.prod_container ul li:hover .btn_detail { border-left:1px solid #563800; }
.prod_container ul li:hover .btn_detail a { color:#FFF;}
.prod_container ul li .btn_detail:hover { background-color:#d90729; }
.paging { width:688px; clear:left; float:right; margin:0 10px; }
.paging ul { float:right; }
.paging ul li { list-style:none; float:left; margin-right:10px; line-height:14px; margin-top:6px; }
.paging ul li.ico_prev a { background:url(../images/ico_prev.png) bottom no-repeat; padding:7px 10px; }
.paging ul li.ico_next a { background:url(../images/ico_next.png) bottom no-repeat; padding:7px 10px; } 
.paging ul li.ico_prev , .paging ul li.ico_next { margin: 0 10px 0 0; }
.paging ul li a.active { color:#bb0418; font-weight:bold; } 
.paging ul li.select_number { margin-top:4px; }
.paging ul li.select_number select { float:left; margin-right:10px; }
.paging ul li.select_number p { white-space:nowrap; }

.n-eContent { width:708px; }
.n-eContent ul { margin:0; padding:0px; }
.n-eContent ul li { width:314px; height:95px; padding:10px; list-style:none; background-color:#f3e9dd; margin:10px; float:left; }
.n-eContent ul li div.cover { width:125px; margin-right:10px; float:left; }
.n-eContent ul li div.summary { width:179px; display:block; float:left; }
.n-eContent ul li div.summary a { color:#bb0418; }
.n-eContent ul li div.summary h1 { font-size:12px; color:#bb0418; line-height:14px; margin-bottom:5px; }
.n-eContent ul li div.summary p { line-height:14px; font-size:11px; margin-bottom:0; }
.n-eContent ul li div.summary a.ico_more { background:url(../images/ico_more.png) center right no-repeat; padding:2px 5px 5px 5px; }
.n-eContent ul li:hover { background-color:#f1dbb2; }

.services { width:688px; }
.services ul { margin:0; padding:0px; }
.services ul li { width:688px; list-style:none; background-color:#f3e9dd; border:1px solid #e2c690; float:left; margin-bottom:20px; }
.services ul li div.services_container { width:648px; height:auto; list-style:none; background-color:#f3e9dd ;  padding:20px; }
.services ul li div.cover { width:125px; height:90px; margin-right:10px; float:left; }
.services ul li div.summary { width:513px; display:block; float:left; }
.services ul li div.summary a { color:#bb0418; }
.services ul li div.summary h1 { font-size:14px; color:#bb0418; line-height:16px; margin-bottom:5px; }
.services ul li div.summary p { line-height:24px; font-size:12px; margin-bottom:0px; }
.services ul li div.show_more p { margin-bottom:0; width: 648px; }
.services ul li center { margin-top:20px; }
.services ul li center a { padding:7px 40px 7px 20px; color:#ae1f25; font-weight:bold; }
.services ul li center a.hide { background: #e2c690 url(../images/Hide_icon.png) 70px 9px no-repeat; }
.services ul li center a.show { background: #e2c690 url(../images/show_icon.png) 70px 9px no-repeat; }
.services ul li center a:hover { background-color:#ead1a1; }
.services ul li:last-child { margin-bottom:0; }

.subContactContent .banner { padding: -20px; }
.subContactContent center { padding:20px 0; margin: 0px 20px ; border-bottom:1px solid #f3e9dd;  }
.subContactContent center h1 { font-size:17px; margin-top:15px; }
.subContactContent .contact_container { margin:5px 20px 0 20px; background-color:#f3e9dd; } 
.subContactContent .contact_container .company_info { width:368px; float:left; }
.subContactContent .contact_container .company_info ul { margin:0; padding:0; }
.subContactContent .contact_container .company_info ul li { padding:10px; list-style:none; border-top: 1px solid #FFF; border-bottom:1px solid #ead5bc; }
.subContactContent .contact_container .company_info ul li:first-child { border-top: 0; }
.subContactContent .contact_container .company_info ul li:last-child { border-bottom:0; }
.subContactContent .contact_container .form { width:300px; float:left; background-color:#ae1f25; padding:10px; }
.subContactContent .contact_container .form h4 { font-size:15px; color:#FFF; margin-bottom:10px; text-transform:uppercase; }
.subContactContent .contact_container .form_name { margin:1px 20px 0 0; color:#FFF; float:left; }
.subContactContent .contact_container .form_name p { margin-bottom:10px; }
.subContactContent .contact_container form { float:left; width:230px; }
.subContactContent .contact_container .form input { margin-bottom:8px; height:13px; width:200px; } 
.subContactContent .contact_container .form textarea { width:200px; min-height:80px; }
.title_bar_order { width:100%; background-color:#F1DBB2; height:39px; border-bottom:1px solid #dbbfa2; }
.title_bar_order h2 { font-size:17px; color:#6b4f2b; padding:8px 0 0 20px; text-transform:uppercase; }
.form_order { margin:0 auto; width:528px; margin-top:30px ;height: 465px; }
.form_order .form_name , .form_order div { float:left; }
.form_order .form_name { width:106px; font-size:14px; }
.form_order .form_name p { line-height:39px;}
.form_order div { width:422px;}
.form_order input , .form_order textarea  { width:400px; height:auto; background-color:#f8f1e9; border:1px solid #d8cfc4; margin-bottom:20px; max-width:520px; min-width:400px; min-height:13px; }
.form_order input { height:37px; padding:0 10px }
.form_order textarea { padding:10px; }
.form_order .title-bar , .ProdInfoContainer .info .title-bar { clear:left; width:120px; float:right; border-right:1px solid #513212; }
/* IE7 */
* + html .form_order .title-bar { clear:none; }
/* IE7 */
.form_order .title-bar a , .ProdInfoContainer .info .title-bar a { padding-top:7px; display:block; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.table_product_list { width:100%; height:auto; border-top:1px solid #e2c690; border-left:1px solid #e2c690; border-bottom:1px solid #e2c690; }
.table_product_list p { margin:0; }
.table_product_list .prodID_title , .table_product_list .prodName_title , .table_product_list .prodAmount_title , .table_product_list .prodPrice_title , .table_product_list .prodID , .table_product_list .prod_purchased , .table_product_list .prod_amount , .table_product_list .prod_price 
{ text-align:center; vertical-align:middle; height:31px; background-color:#f3e9dd; border-right:1px solid #e2c690; border-bottom:1px solid #e2c690; }
.table_product_list .prodID_title , .table_product_list .prodID { width:100px; }
.table_product_list .prodName_title , .table_product_list .prod_purchased { width:360px; }
.table_product_list .prodAmount_title , .table_product_list .prod_amount { width:96px;}
.table_product_list .prodPrice_title , .table_product_list .prod_price { width:129px; }
.table_product_list .prodID , .table_product_list .prod_purchased , .table_product_list .prod_amount , .table_product_list .prod_price { height:93px; }
.prodID p { width:100px; }
.table_product_list .prod_purchased .prodImg { width:73px; float:left; padding:10px; }
.table_product_list .prod_purchased .prodImg img { float:left; }
.table_product_list .prod_purchased .prodName { width:258px; text-align:left; }
.table_product_list .prod_purchased .prodName a:hover { color:#bb0418; }
.table_product_list .prod_amount input { width:68px; height:18px; text-align:center; font-size:12px; }
.table_product_list .prod_price span { font-weight: normal; font-size:12px; }
.table_product_list .total { padding-left:10px; font-weight:bold; }
.table_product_list .total_price { height:28px; text-align: center; border-right:1px solid #e2c690; }
.table_product_list .total_price span.float { float:right; }
.table_product_list .total_price p , .total_price span { font-weight:bold; font-size:12px; padding-right:5px; }

/*** DDL ****/
.materials , .color { margin:0; /*height:23px;*/ }
.materials p , .color p { margin-top:4px; width:70px; }
.dropdow_bg { width:125px; height:23px; background: url(../images/dropdowlist.jpg)center left no-repeat; }
.wrapper-dropdown-1 { position: relative; width: 125px; height:23px; margin: 0 auto; color: #fff; outline: none; cursor: pointer; background: url(../images/dropdowlist.jpg) center left no-repeat !important; float:left; }
.wrapper-dropdown-1 span { padding-left:5px; color:#4D2B00 !important; font-size:12px; }
.wrapper-dropdown-1:after { background: url(../images/dropdowlist.jpg)center right no-repeat; position: absolute; }
.wrapper-dropdown-1 .dropdown { display:none; margin:0; padding:0; position: absolute;left: 0; right: 0; background: #fff; list-style: none; font-weight: normal; opacity: 0; border:1px solid #4D2B00; border-top:0; top:22px; z-index:5; }
.wrapper-dropdown-1 .dropdown li a { display: block; text-decoration: none; color: #4D2B00; padding-left:5px; text-align:left; }	
.wrapper-dropdown-1 .dropdown li:hover a {  background: #f4e5d4; }

.wrapper-dropdown-1.active .dropdown { display:block; opacity: 1; pointer-events: auto; }
.wrapper-dropdown-1.active { background:url(../images/dropdowlist.jpg) center left no-repeat; }











