﻿@media (max-width: 1024px) {


}

@media (min-width: 768px) and (max-width: 980px) {
    .container {
        width: 100% !important;
    }

    .logoRow .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Row 2*/
    .logoRow .row {
        margin-left: 0;
        margin-right: 0;
    }

    .row2right .input-group {
        width: 100%;
    }

    .contactWrap a {
        padding: 0 6px 0 8px;
    }

}

@media (min-width: 768px) and (max-width: 830px) {


}