﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UpdateProductUrls.aspx.cs" Inherits="UpdateProductUrls" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btnUpdateCategoryUrls" runat="server" Text="Update Category Urls" OnClick="btnUpdateCategoryUrls_Click" />
        <%--&nbsp;
        <asp:Button ID="btnUpdateProductUrls" runat="server" Text="Update Product Urls" OnClick="btnUpdateProductUrls_Click" />--%>
    </div>
    </form>
</body>
</html>
