﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="zzz.aspx.cs" Inherits="zzz" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        TEST FORM BY TQ
    </div>
    </form>
</body>
</html>
