<<<<<<< HEAD
﻿<table style="font-family: arial; font-size: 13px;">
    <tr>
        <td><strong>Đơn Hàng Mới</strong></td>
    </tr>
    <tr>
        <td>
            <table style="font-family: arial; font-size: 13px;">
                <tr>
                    <td><strong>Mã Sản Phẩm</strong></td>
                    <td><strong>Màu Sắc</strong></td>
                    <td><strong>Số Lượng</strong></td>
                    <td><strong>Giá</strong></td>
                </tr>
                <tr><td>VM 201</td><td>Đỏ</td><td>5</td><td>1200000</td></tr>
                <tr>
                    <td><strong>Tổng Cộng:</strong></td>
                    <td colspan="2"></td>
                    <td><strong>6000000</strong></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

=======
﻿<div class="services">
    <ul>
        <li>
            <div class="services_container">
                <div class="cover">
                    <img src="/portals/0/images/services-1.jpg" alt="cover" />
                </div>
                <div class="summary">
                    <h1>
                        <a href="#">Sửa ghế văn ph&ograve;ng </a>
                    </h1>
                    <p>
                        Qua một qu&aacute; tr&igrave;nh sử dụng chiếc ghế văn ph&ograve;ng của qu&yacute;
                        kh&aacute;ch c&oacute; thể sẽ gặp t&igrave;nh trạng r&aacute;ch vải, r&aacute;ch
                        xi...do bất cẩn khi sử dụng. Hoặc đ&ocirc;i khi chiếc ghế của qu&yacute; kh&aacute;ch
                        kh&ocirc;ng c&ograve;n khả năng n&acirc;ng l&ecirc;n hạ xuống khi ch&uacute;ng ta
                        k&eacute;o cần hơi. Ch&acirc;n ghế, b&aacute;nh xe bị kẹt hoặc bị g&atilde;y. Đ&oacute;
                        ch&iacute;nh l&agrave; l&uacute;c qu&yacute; kh&aacute;ch cần phải sửa chữa lại
                        chiếc ghế xoay của m&igrave;nh để cho c&ocirc;ng việc vẫn hoạt động trơn tru, thoải
                        m&aacute;i.
                    </p>
                </div>
                <div class="clear">
                </div>
                <center>
                    <a class="show service" href="#">Chi Tiết </a>
                </center>
            </div>
        </li>
        <li>
            <div class="services_container">
                <div class="cover">
                    <img src="/portals/0/images/services-1.jpg" alt="cover" />
                </div>
                <div class="summary">
                    <h1>
                        <a href="#">Sửa ghế văn ph&ograve;ng </a>
                    </h1>
                    <p>
                        Qua một qu&aacute; tr&igrave;nh sử dụng chiếc ghế văn ph&ograve;ng của qu&yacute;
                        kh&aacute;ch c&oacute; thể sẽ gặp t&igrave;nh trạng r&aacute;ch vải, r&aacute;ch
                        xi...do bất cẩn khi sử dụng. Hoặc đ&ocirc;i khi chiếc ghế của qu&yacute; kh&aacute;ch
                        kh&ocirc;ng c&ograve;n khả năng n&acirc;ng l&ecirc;n hạ xuống khi ch&uacute;ng ta
                        k&eacute;o cần hơi. Ch&acirc;n ghế, b&aacute;nh xe bị kẹt hoặc bị g&atilde;y. Đ&oacute;
                        ch&iacute;nh l&agrave; l&uacute;c qu&yacute; kh&aacute;ch cần phải sửa chữa lại
                        chiếc ghế xoay của m&igrave;nh để cho c&ocirc;ng việc vẫn hoạt động trơn tru, thoải
                        m&aacute;i.
                    </p>
                </div>
                <div class="clear">
                </div>
                <div class="show_more">
                    <p>
                        C&ocirc;ng ty TNHH SX TM Văn Minh ngo&agrave;i việc cung cấp cho qu&yacute; kh&aacute;ch
                        những sản phẩm ghế xoay chất lượng tốt nhất, ch&uacute;ng t&ocirc;i c&ograve;n cung
                        cấp dịch vụ sửa chữa ghế tận nơi, trong phạm vi nội th&agrave;nh Tp.HCM. Bao gồm:
                        - Bọc lại ghế xoay bị r&aacute;ch da, simili, vải bố...m&agrave;u sắc t&ugrave;y
                        theo y&ecirc;u cầu của qu&yacute; kh&aacute;ch. - Thay ống hơi ghế kh&ocirc;ng c&ograve;n
                        l&ecirc;n xuống được. - Thay b&aacute;nh xe bị hư, g&atilde;y. - Thay ch&acirc;n
                        ghế, tay ghế xoay bị g&atilde;y. - Sửa chữa, thay mới m&acirc;m ghế, v&agrave; c&aacute;c
                        bộ phận hư hỏng kh&aacute;c. Sản phẩm sau khi sửa chữa sẽ được bảo h&agrave;nh 3
                        th&aacute;ng nếu lỗi kỹ thuật từ ph&iacute;a ch&uacute;ng t&ocirc;i. Mọi chi tiết
                        xin vui l&ograve;ng li&ecirc;n hệ: 072.375.9677 - 072.375.9678 Qu&yacute; kh&aacute;ch
                        h&agrave;ng c&oacute; thể gọi trực tiếp để được tư vấn hoặc chụp lại h&igrave;nh
                        ảnh phần ghế bị hư v&agrave; gửi qua email: ghe_vanminh72@yahoo.com.vn hoặc ghe_vanminh77@yahoo.com.vn
                        C&ocirc;ng ty sẽ cho nh&acirc;n vi&ecirc;n đến tận nơi xem x&eacute;t, sửa chữa
                        hoặc thay mới. C&ocirc;ng ty TNHH SX TM Văn Minh với thương hiệu V&amp;M lu&ocirc;n
                        mong muốn mang lại cho qu&yacute; kh&aacute;ch h&agrave;ng những sản phẩm, v&agrave;
                        dịch vụ tốt nhất.</p>
                </div>
                <div class="clear">
                </div>
                <center>
                    <a class="show service" href="#">Chi Tiết </a>
                </center>
            </div>
        </li>
        <li>
            <div class="services_container">
                <div class="cover">
                    <img src="/portals/0/images/services-1.jpg" alt="cover" />
                </div>
                <div class="summary">
                    <h1>
                        <a href="#">Sửa ghế văn ph&ograve;ng </a>
                    </h1>
                    <p>
                        Qua một qu&aacute; tr&igrave;nh sử dụng chiếc ghế văn ph&ograve;ng của qu&yacute;
                        kh&aacute;ch c&oacute; thể sẽ gặp t&igrave;nh trạng r&aacute;ch vải, r&aacute;ch
                        xi...do bất cẩn khi sử dụng. Hoặc đ&ocirc;i khi chiếc ghế của qu&yacute; kh&aacute;ch
                        kh&ocirc;ng c&ograve;n khả năng n&acirc;ng l&ecirc;n hạ xuống khi ch&uacute;ng ta
                        k&eacute;o cần hơi. Ch&acirc;n ghế, b&aacute;nh xe bị kẹt hoặc bị g&atilde;y. Đ&oacute;
                        ch&iacute;nh l&agrave; l&uacute;c qu&yacute; kh&aacute;ch cần phải sửa chữa lại
                        chiếc ghế xoay của m&igrave;nh để cho c&ocirc;ng việc vẫn hoạt động trơn tru, thoải
                        m&aacute;i.
                    </p>
                </div>
                <div class="clear">
                </div>
                <div class="show_more">
                    <p>
                        C&ocirc;ng ty TNHH SX TM Văn Minh ngo&agrave;i việc cung cấp cho qu&yacute; kh&aacute;ch
                        những sản phẩm ghế xoay chất lượng tốt nhất, ch&uacute;ng t&ocirc;i c&ograve;n cung
                        cấp dịch vụ sửa chữa ghế tận nơi, trong phạm vi nội th&agrave;nh Tp.HCM. Bao gồm:
                        - Bọc lại ghế xoay bị r&aacute;ch da, simili, vải bố...m&agrave;u sắc t&ugrave;y
                        theo y&ecirc;u cầu của qu&yacute; kh&aacute;ch. - Thay ống hơi ghế kh&ocirc;ng c&ograve;n
                        l&ecirc;n xuống được. - Thay b&aacute;nh xe bị hư, g&atilde;y. - Thay ch&acirc;n
                        ghế, tay ghế xoay bị g&atilde;y. - Sửa chữa, thay mới m&acirc;m ghế, v&agrave; c&aacute;c
                        bộ phận hư hỏng kh&aacute;c. Sản phẩm sau khi sửa chữa sẽ được bảo h&agrave;nh 3
                        th&aacute;ng nếu lỗi kỹ thuật từ ph&iacute;a ch&uacute;ng t&ocirc;i. Mọi chi tiết
                        xin vui l&ograve;ng li&ecirc;n hệ: 072.375.9677 - 072.375.9678 Qu&yacute; kh&aacute;ch
                        h&agrave;ng c&oacute; thể gọi trực tiếp để được tư vấn hoặc chụp lại h&igrave;nh
                        ảnh phần ghế bị hư v&agrave; gửi qua email: ghe_vanminh72@yahoo.com.vn hoặc ghe_vanminh77@yahoo.com.vn
                        C&ocirc;ng ty sẽ cho nh&acirc;n vi&ecirc;n đến tận nơi xem x&eacute;t, sửa chữa
                        hoặc thay mới. C&ocirc;ng ty TNHH SX TM Văn Minh với thương hiệu V&amp;M lu&ocirc;n
                        mong muốn mang lại cho qu&yacute; kh&aacute;ch h&agrave;ng những sản phẩm, v&agrave;
                        dịch vụ tốt nhất.</p>
                </div>
                <div class="clear">
                </div>
                <center>
                    <a class="show service" href="#">Chi Tiết </a>
                </center>
            </div>
        </li>
    </ul>
</div>
<!---- end n-eContent ---->
<div class="clear">
</div>
>>>>>>> 0af986063a4158b1fe2f9c728983e6f80e7a7fe0
