/*Library CSS*/
.ui-carousel {
	height: 175px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	width: 175px;
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > .product{
    border: 1px solid #c4c4c4;
}

    .ui-carousel > .wrapper > .product .product_info {
        width: 175px;
    }

.ui-carousel > .wrapper > * {
	/*border: 0;*/
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
    /*color: #092f87;*/
    /*font-size: 16px;*/
    font-weight: normal;
    /*line-height: 55px;*/
    text-align: left;
}


/*Module CSS*/
.bottomSliderContainer
{
    position: relative;
    margin: 0px auto;
	/*height: 310px;*/
    width: 940px;
    padding: 8px 0 0px 0;
}

.bottomSliderContainer .item {
    background: #cccccc;
    width: 175px;
    height: 175px;
}
.bottomSliderContainer .item:hover {
    background: #525252;
}
.bottomSliderContainer .item .headline {
    width: 175px;
    height: 55px;
    top: 0;
    background-repeat: no-repeat;
}
.bottomSliderContainer .item .headline.orange {
    background-image: url("../images/orange.png");    
}
.bottomSliderContainer .item .headline.blue {
    background-image: url("../images/blue.png");    
}
.bottomSliderContainer .item .headline.green {
    background-image: url("../images/green.png");    
}
.headline a:link, .headline a:visited, .headline a:active {
    color: #fff;
    line-height: 55px;
    padding-left: 20px;
}
.bottomSliderContainer .item .headline span {
    float: right;
    margin-right: 9px;
    color: white;
    display: block;
    width: 35px;
    text-align: center;
    /*border: solid 1px red;*/
}
.bottomSliderContainer .item .headline.green span {
    margin-right: 10px;
}

.bodyContent {
    display: none;
    padding-left: 40px;
    padding-top: 55px;
    font-size: 25px;
    width: 200px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}
.bodyContent a:link, .bodyContent a:visited, .bodyContent a:active {
    line-height: 35px;
    font-size: 16px;
    font-weight: normal;
    color:#fff;
}
/*#carousel
{
    margin: 0 auto;
}

#carousel img
{
    border: 0;
}

#ui-carousel-next, #ui-carousel-prev
{
    display: block;
    position: absolute;
    top: 35%;
    z-index: 100;
}

#ui-carousel-next img, #ui-carousel-prev img {
}

#ui-carousel-next
{
    right: 0;
}

#ui-carousel-prev
{
    left: 5px;
}

#ui-carousel-next > span, #ui-carousel-prev > span
{
    display: none;
}*/

.carousel
{
    margin: 0 auto;
}

.carousel img
{
    border: 0;
}

.ui-carousel-next, .ui-carousel-prev
{
    display: block;
    position: absolute;
    top: 45%;
    z-index: 100;
}

.ui-carousel-next img, .ui-carousel-prev img {
}

.ui-carousel-next
{
    right: 0;
}

.ui-carousel-prev
{
    left: 0;
}

.ui-carousel-next > span, .ui-carousel-prev > span
{
    display: none;
}

/*.ui-carousel img {
	width: 170px;
}*/

.sliderheadline1 {
    font-size: 27px;
    margin-top: 0;
    color: #00529B;  
    padding-bottom: 5px;
    border-bottom: solid 1px #D3D3D5;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 900px)
{
    .bottomSliderContainer 
    {
        width: 96%!important;
    }
}