﻿<table cellpadding="4" cellspacing="4" style="font-size: 13px; font-family: arial;">
    <tr>
        <td colspan="2"><h2>Thông tin chi tiết khách hàng</h2></td>
    </tr>
    <tr>
        <td>Họ Tên:</td>
        <td>{0}</td>
    </tr>
    <tr>
        <td>Địa Chỉ:</td>
        <td>{1}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{2}</td>
    </tr>
    <tr>
        <td>Điện Thoại:</td>
        <td>{5}</td>
    </tr>
    <tr>
        <td>Tiêu Đề:</td>
        <td>{3}</td>
    </tr>
    <tr>
        <td>Nội Dung:</td>
        <td>{4}</td>
    </tr>
</table>