
.customRotatorNav {
    margin: 10px 0;
    text-align: center;
}

.customRotatorNav .navImg {
    margin: 0 5px;
    border: none;
    vertical-align: middle;
}

.customRotatorNav .navLink {
    font-size: 14px;
    text-decoration: underline;
    color: #3E81B5;
}

.customRotatorNav .separator {
    margin: 0 5px 0 5px;
}

.rotatorGrid {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.padding10 {
    padding-top: 10px;
}

.gridHeader {
    padding-left: 5px;
}

.gridItem {
    padding-left: 5px;
}

/* View */

.owl-theme .owl-controls {
    margin-top: 10px;
    /*text-align: center;*/
}

.owl-theme .owl-controls .owl-buttons {
    display: none;
}


.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 5px;
    padding: 3px 10px;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    opacity: 1;
    text-decoration: none;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 18px;
    height: 18px;
    margin: 5px 5px 0 5px;
    background: url("images/owl-page.png"); /*filter: Alpha(Opacity=50);
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #828383;
-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5), 1px 1px 1px rgba(225,225,225,.5) inset;
-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5), 1px 1px 1px rgba(225,225,225,.5) inset;
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .5), 1px 1px 1px rgba(225,225,225,.5) inset;*/
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    /*background: #ffd200*/
    background: url("images/owl-page-active.png");
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-item.loading {
    min-height: 150px;
    background: url("images/AjaxLoader.gif") no-repeat center center;
}
/***********************************************/
#rotator .owl-wrapper-outer {
    /*width: 970px !important;;
    margin: 0 auto 0 auto !important;*/
}
/*******************************************************/
/* o o o */
#rotator .owl-controls {
    position: absolute;
    width: 100%;
    /*padding: 6px 0 6px 0;*/
    bottom: 30px;
}

#rotator .owl-pagination {
    /*padding: 0 0 7px 0;*/
    /*margin: 0;*/
    width: 940px;
    margin: 0 auto;
    padding-left: 40px;
}

#rotator .owl-page span {
    margin-bottom: 0;
}
/*******************************************************/
/*  <  >  */
#rotatorNav {
    position: absolute;
    bottom: 60%;
    z-index: 1;
    width: 100%;
}

#rotatorNav .btn {
    color: #fff;
    font-size: 3.429em;
    padding:0px;
    margin:0px;
}

#rotatorNav .prev {
    position: absolute;
    left: 0px;
}

#rotatorNav .next {
    position: absolute;
    right: 0px;
}

#rotatorNav .prev, #rotatorNav .next {
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -ms-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

#rotatorNav .prev:hover, #rotatorNav .next:hover {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

#rotatorNav .btn:active {
    box-shadow: none;
}


/*******************************************************/
.rotatorRow {
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}

.rotatorWrap {
    /*width: 940px;
    margin: 0 auto 0 auto;*/
    width: 100%;
}

#rotator {
    margin: 0 auto 0 auto;
    overflow: hidden;
}

#rotator .item {
    display: table;
    width: 100%;
}


/*Desktop Background Images*/
/*#homebanner1 { background-image: url("http://ghevm.local.com/Portals/0/HomeBanners/_130776146603770000.jpg") !important; }
#homebanner2 { background-image: url("http://ghevm.local.com/Portals/0/HomeBanners/_130577419403320000.jpg") !important; }
#homebanner3 { background-image: url("http://ghevm.local.com/Portals/0/HomeBanners/_130577424095570000.jpg") !important; }*/
 

.captionWrap {
    /*vertical-align: middle;*/
    vertical-align: top;
    padding-top: 0;
    color: #fff;
}

.caption {
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
    padding-top: 250px;
    padding-left: 42px;
}
.caption div.caption-title {
    width: 100%;
}
.optCaption {
    position: absolute;
    display: inline-block;
    text-align: right;
    right: 0;
    bottom: 0;
    font-size: 0.857em; /*color: #cecece;*/
    line-height: 20px;
    display: none;
    visibility: hidden;
}

.optCaption span:first-child {
    display: block;
    font-size: 1.429em;
    color: #fff;
}

.caption .handwrite {
    font-family: 'OpenSans';
    font-size: 41px;
    font-weight: 600;
    line-height: 41px;
    text-shadow: none;
    color: #fff;
    padding: 0px;
    padding-bottom: 10px;
}

.caption p {
    font-weight: normal;
    line-height: 20px;
    display: none;
}

.caption .captionCaps {
    text-transform: uppercase;
}

/* vid thumbs
*******************************************************/
#vidThumbs {
    width: 890px;
    height: 182px;
    overflow: hidden;
    margin: 0 auto 0 auto;
}

#vidThumbs .item {
    position: relative;
    font-weight: normal;
    color: #fff;
}

#vidThumbs .item .thumbImg {
    display: inline-block;
    width: 207px;
    color: #fff;
    -webkit-background-size: 207px 138px;
    -moz-background-size: 207px 138px;
    -o-background-size: 207px 138px;
    background-size: 207px 138px;
}

#vidThumbs .item p {
    margin: 150px 0 0 0;
    line-height: 1.143em;
    text-shadow: 1px 1px 0px rgba(0,0,0, 0.5);
    font-size: 0.857em;
}

#vidThumbs .owl-pagination {
    display: none;
}

.vidPlayBtn, .vidPlayBtn .icon-play-icon {
    -webkit-transition: width 0.3s, height 0.3s, margin 0.3s;
    -moz-transition: width 0.3s, height 0.3s, margin 0.3s;
    -ms-transition: width 0.3s, height 0.3s, margin 0.3s;
    transition: width 0.3s, height 0.3s, margin 0.3s;
}

.vidPlayBtn {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    margin-left: 40%;
    margin-top: 46px;
    background: #d3bf70;
    background-color: rgba(211,191,112,0.6);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

.vidPlayBtn .icon-play-icon {
    font-size: 50px;
    color: #fff;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    cursor: pointer;
}

.vidPlayBtn:hover {
    width: 58px;
    height: 58px;
    margin-left: 38%;
    margin-top: 42px;
}

.vidPlayBtn:hover .icon-play-icon {
    font-size: 58px;
}
/* < > */
#vidThumbsNav {
    position: absolute;
    width: 930px;
}

#vidThumbsNav a {
    position: absolute;
    top: 55px;
    padding: 0;
    font-size: 2em;
    color: #fff;
    opacity: 0.5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

#vidThumbsNav .prev {
    left: 0;
}

#vidThumbsNav .next {
    right: 0;
}

#vidThumbsNav a:hover {
    opacity: 0.7;
}

#vidThumbsNav a:active {
    opacity: 1;
}

#rotator .owl-wrapper-outer {
}

/***************************************/
.owl-wrapper-outer, .owl-wrapper, .owl-item {
    width: 100%;
}

.item {
    width: auto;
    height: 450px;
}

/***************************************/
#rotator .item {
    display: inline-block;
    background-position: center top;
    background-repeat: no-repeat;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
/***************************************/
.rotatorWrap {
    /*width: 100%;*/
    height: auto;
}
/***************************************/
.captionWrap {
    padding: 50px 0 0 0;
}

.homeBannerArea .owl-buttons {
    display: none;
}

@media (max-width: 939px) {
	.item {
        height: 430px;
    }
    .owl-theme .owl-controls {
        text-align: center;
    }
    .rotatorRow {
        width: 100%;
    }
    .caption {
        width: 100%;
    }
    /*  <  >  */
    #rotator .owl-controls {
        position: relative;
        /*border-top: 1px solid #e6e6e6;*/
        margin: 0;
        /*padding: 20px 0 20px 0;*/
        padding: 0;
        /*background: #fff;*/
        width: auto;
        bottom: -5px;
    }
    #rotator .owl-pagination {
        width: 100%;
        padding-left: 0px;
    }
    #rotatorNav {
        /*bottom: 63px;*/
        bottom: 35px;
    }

    #rotatorNav .prev {
        left: 15%;
        font-size: 1em;
        margin: 5px 0;
    }

    #rotatorNav .next {
        right: 15%;
        font-size: 1em;
        margin: 5px 0;
    }

    #rotatorNav .prev, #rotatorNav .next {
        color: #1460a3;
    }
    #rotatorNav .prev img, #rotatorNav .next img {
        width: 65%;
    }

    #rotatorNav .prev:hover, #rotatorNav .next:hover {
        color: #2c78bb;
    }
    .caption {
        position: absolute;
        width: 100%;
        height: auto;
        padding: 5px 0;
        text-align: center;
        top: auto;
        bottom: 5px;
        background-color: rgba(112,119,124,0.8);
    }
    .caption div.caption-title {
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 939px) {
    /*.captionWrap {
        padding: 60px 20px 0 20px;
    }*/

    /*Background Image For Tablets*/
    /*#homebanner1 { background-image: url("/Portals/0/HomeRotators/banner1-md.jpg") !important; }
#homebanner2 { background-image: url("/Portals/0/HomeRotators/banner2-md.jpg") !important; }
#homebanner3 { background-image: url("/Portals/0/HomeRotators/banner3-lg.jpg") !important; }*/
    
    #vidThumbs {
        position: relative;
        width: auto;
        margin: 0;
    }

    #vidThumbsNav {
        position: relative;
        width: auto;
    }

    .owl-item {
        padding: 0;
    }
}



@media (max-width: 767px) {
    #rotatorNav .prev {        
        margin: 10px 0 0 0;
    }

    #rotatorNav .next {
        margin: 10px 0 0 0;
    }
    #rotator .item {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .captionWrap {
    }
    /***************************************/
    .owl-wrapper-outer,
    .owl-wrapper,
    .owl-item {
        /*height: 300px !important;*/
        height: auto;
    }

    .item {
        /*height: 300px !important;*/
        width: auto;
        /*height: 300px !important;*/
        height: auto;
  
    }
    /***************************************/

    /*BACKGROUND IMAGES FOR MOBILE*/
    /*#homebanner1 { background-image: url("/Portals/0/HomeRotators/banner1-sm.jpg") !important; }
#homebanner2 { background-image: url("/Portals/0/HomeRotators/banner2-sm.jpg") !important; }
#homebanner3 { background-image: url("/Portals/0/HomeRotators/banner3-sm.jpg") !important; }*/
    
    .caption {
        position: absolute;
        margin-left: 0;
        width: 100%;
        height: auto;
        padding: 0 10px 5px 10px;
        text-align: center;
        top: auto;
        bottom: 0px;
        background-color: rgba(112,119,124,0.8);
        line-height: 20px;
    }
    .hidden-xs.handwrite {
        display: block!important;
    }
    .caption div.caption-title {
        width: 100%;
    }
    .caption .handwrite {        
        font-size: 20px;
        line-height: 25px;
        margin: 0 auto;
        padding: 5px 0px;
    }

    .caption .btnWhite {
        width: 100%;
        padding: 10px 10px 10px 10px;
    }

    .caption p {
        font-size: 1em;
        display: inline-block;
        line-height: 20px;
        display: none;
    }
}