﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MobileSearch.ascx.cs" Inherits="Portals_0_Skins_GheVM_Controls_MobileSearch" %>

<div class="mobile-search-container">
    <a><img src="/images/1x1.GIF" border="0" /></a>
    <input id="txtSearchMobile" class="input-mobile-search"/>
    
</div>