﻿@charset "utf-8";
/* CSS Document */

* { margin:0 auto;}

body { background-color:#f8f1e9; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#4d2b00; }
a { text-decoration:none; color:#4d2b00; }
img { border:0; }
/******* header ********/
.banner { width:960px; height:275px; background:url(images/Bg.jpg) no-repeat; }
.menu {	padding:0px; margin:5px 0px 0px 23px; width:100%; float:left; }
	
/**Ul1**/
.menu { width:100%; height:47px; background:url(../images/bg_menu.png) repeat-x ; margin:0; padding:0; }
#nav, #nav ul { width:960px; height:47px; margin:0 auto; padding:0; list-style:none; position: relative; }
#nav li { margin:0; float:left; list-style:none; position:relative; height:47px;}
#nav li a { height:32px; padding:15px 15px 0 15px; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; display:block ; float:left; }
#nav li ul a:link, #nav li ul a:active,
#nav li ul a:visited { padding:20px 15px 15px 15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; display:block ; }
#nav li a:hover , #nav li a.nav_selected { background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; }

/**Ul2**/
#nav ul { padding: 0 ; margin: 0 ; position:absolute ; display:none ; top:100%; left:0; width:auto; }
#nav li ul li, #nav li ul li a { float: none; width:auto; white-space:nowrap; }
#nav li ul a { width:auto; padding:15px; background:url(../images/bg_menu_hover.png) repeat-x ; color:#FFF; }
#nav li ul a:hover { background:url(../images/bg_menu.png) repeat-x ; color:#FFF; white-space:nowrap; }
#nav li:hover a { background:url(../images/bg_menu_hover.png) repeat-x ; color:#a7020c; }

/******* content *******/
.content { width:960px; height:auto; }
.left_column , .right_column { width:210px; height:auto; margin:20px 10px 0 0; float:left; }
.right_column { margin:20px 0 0 10px;}
.left_menu { width:210px; height:auto; }
.title-bar { width:100%; height:41px; background:url(../images/bg_title.png) repeat-x; text-align:center; }
.title-bar p { padding:12px 0; font-size:14px; color:#FFF; text-transform:uppercase; font-weight:bold; }
.categories , .statistics { background-color:#f1dbb2; width:208px; height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; }
.categories { padding-bottom:10px; }
.categories ul { margin:0 0 0 10px; padding:10px 0 0 0; }
.categories ul ul { margin:0; }
.categories ul li { list-style:none; background:url(../images/bullet.png) left 5px no-repeat; padding-left:17px; margin-bottom:10px; }
.categories ul li:last-child { margin-bottom:0; }
.categories ul li li { background:url(../images/sub_bullet.png) left 5px no-repeat; }
.categories ul li a { font-size:13px; font-weight:bold; }
.categories ul li li a { font-weight:normal; }
.categories ul li a:hover , .categories ul li a.catg_selected { color:#b76600; }
.access_statistics_box { width:210px; height:auto; margin-top:20px;}
.statistics img { margin:20px }
.center_column { width:500px; height:auto; margin:20px 10px 0 10px; float:left; }
.center_column .banner { width:500px; height:350px; }
.product_show .title p { text-align:left; padding-left:10px; }
.product_show { margin-top:20px; clear:left;}
.product { width:158px; height:157px ; float:left; border:1px solid #c4c4c4; margin-top:10px; }
#product { margin: 10px 10px 0 10px; }
.product_info { width:158px; height:18px; background-color:#e2e3e4; border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4; }
.product_code { width:97px; height:18px; border-right: 1px solid #c4c4c4; float:left; }
.product_code p , .detail p { font-size:10px; color:#4d2b00; padding:3px 0 0 5px; }
.detail p { text-align:center; }
.search_box { width:208px; height:52px; background-color:#f1dbb2; border:1px solid #c6a566; }
.textbox { width:145px; height:30px; float:left; }
.input_email { margin:10px 0 0 10px; padding-left:10px; width:145px; height:28px; font-family: Tahoma, Geneva, sans-serif; border:1px solid #a16a03; white-space:nowrap; }
.text_style { margin:10px 0 0 10px; padding-left:10px; width:135px; height:28px; font-family: Tahoma, Geneva, sans-serif; font-style:italic; border:1px solid #a16a03; white-space:nowrap; color:#CCC; }
.search_box div.button { margin-left:7px; background: url(../images/BTN_bg.png) repeat-x; width:43px; height:30px; float:left; margin-top:10px; border:1px solid #a16a03; }
/* IE7 */
* + html .product { height:160px	;}
* + html .search_box div.button { margin-top:11px; }
* + html .input_email { padding-left:10px; padding-top:7px; height:22px; }
* + html .text_style { padding-top:7px; height:22px; }
/* IE7 */
.search_box div.button a { width:43px; height:30px; top:10px; bottom:-3px; padding:11px 12px 5px 14px; position: relative; }

.support , .hot_product_box { margin-top:20px; background-color:#f1dbb2; width:208px; height:auto; border-left:1px solid #c6a566; border-bottom:1px solid #c6a566; border-right:1px solid #c6a566; }
.hot_product_box { border-left:1px solid #b4b4b4; border-bottom:1px solid #b4b4b4; border-right:1px solid #b4b4b4; }
.support_container { margin:10px; }
.support_icon { width:41px; height:41px; float:left; margin-right:10px;}
.hotline p { font-weight:bold; font-size:14px; }
.hotline p.number { font-size:14px; color:#db0000; }
.Yhonoff_icon { margin: 10px 0 10px 52px; }
.hot_product { background-color:#FFF;}
.hot_product a { background-color:#FFF;}

/******** Footer *******/
.footer { clear:left; margin-top:20px; background-color:#f1dbb2; border-top:1px solid #e7cb95; border-bottom:1px solid #e7cb95; }
.footer_container { margin:0 auto; width:960px; height:150px; }
.copy_right { width:350px; margin-top:17px; border-right:1px solid #563800; float:left; }
.copy_right p { margin-bottom:10px; font-size:14px; font-weight:bold; }
.footer_container .info { margin:13px 0 0 20px; float:left; line-height:24px; }

/******* sub page *******/
/**** title ****/
.sub_right_column { width:730px; height:auto; margin:20px 0 0 10px; float:left; }
.sub_title { height:40px;}
.sub_title img { width:32px; height:32px; float:left; margin-right:10px; padding-top:5px; }
.sub_title .text_title { width:688px; border-bottom:1px solid #4b2e11; margin-left:42px; padding:10px 0 3px 0 ; font-size:18px; color:#bb0418; }

/**** Content ****/
.sub_content , .sub_prodContent { width:688px; border:1px solid #f4e5d4; background-color:#fff7e9; padding:20px; line-height:26px; }
.sub_prodContent { width:708px; padding:20px 10px; }
.sub_content embed { float:right; padding:0 0 10px 10px; }
.sub_content b { font-size:18px; }
.sub_content p { margin-bottom:20px; }
.sub_content span { font-weight:bold; font-family: Tahoma, Geneva, sans-serif; font-size:14px; }

.mainImgConatiner { width:400px; margin:0 10px 20px 0; float:left; }
.moreImgThumbContainer .imageThumb { width:50px; height:50px; float:left; border:1px solid #f4e5d4; margin:0 5px 10px 0; } 
.moreImgThumbContainer .imageThumb:hover ,
.imgThumbContainer:hover ,
.prodColor .colorProdImgthumb .imageThumb:hover ,
.ProdInfoContainer .info .size img:hover { border:1px solid #c6a566; }
.imgThumbContainer { width:398px; height:368px; border:1px solid #f4e5d4; clear:left; }
.prodColor { width:400px; margin-top:20px; }
.prodColor p { line-height:12px; margin-bottom:10px; }
.prodColor .colorProdImgthumb .imageThumb { width:50px; height:50px; float:left; margin-right:5px; border:1px solid #f4e5d4; }
.ProdInfoContainer { width:268px; margin-left:10px; float: left; }
.nameIDcontainer { width:268px; height:62px; border-bottom:1px solid #f4e5d4; margin-bottom:20px; }
.ProdInfoContainer .nameIDcontainer p.prod_name { font-size:17px; color:#bb0418; margin-bottom:10px; line-height:14px; }
.ProdInfoContainer .nameIDcontainer p.prodID { font-size:18px; }
.ProdInfoContainer .info p { line-height:12px; font-size:14px; margin-bottom:10px; }
.ProdInfoContainer .info span { font-weight:normal; color:#bb0418; }
.ProdInfoContainer .info p.order { font-weight:bold; text-transform:uppercase; color:#bb0418; margin-bottom:20px; }
.ProdInfoContainer .info .materials { margin-bottom:10px; }
.ProdInfoContainer .info .color { margin-bottom:20px; }
.ProdInfoContainer .info .materials p ,
.ProdInfoContainer .info .color p { float:left; margin-right:5px; padding-top:3px; }
.ProdInfoContainer .info .size { clear:left; }
.ProdInfoContainer .info .size .prod_size { float:left; margin-right:5px; }
.ProdInfoContainer .info .size img { width:78px; height:94px; border:1px solid #f4e5d4; }
.ProdInfoContainer2 { padding:20px 20px 0 20px; width:646px; clear:left; background-color:#FFF; border:1px solid #f4e5d4; }
.ProdInfoContainer2 p { font-size:13px; margin-bottom:20px; line-height:14px; }
.ProdInfoContainer2 p.title_info { color:#ae1f25; margin-bottom:10px; }
.prod_container ul , .paging ul { margin:0; padding:0; }
.prod_container ul li { width:216px; float:left; list-style:none; margin:0 10px 20px 10px; }
.prod_container ul li .prod-title-bar { width:100%; height:36px; background:url(../images/bg_prod_title.png) repeat-x; text-align:center; }
.prod_container ul li .prod-title-bar p { padding:7px 0; font-size:14px; color:#FFF; }
.prod_container ul li .prod_img { width:214px; height:244px; border-left:1px solid #f3e9dd; border-right:1px solid #f3e9dd; border-bottom:1px solid #efd8bd; }
.prod_container ul li .prod_id { width:105px; height:25px; background-color:#f3e9dd; border-right: 1px solid #FFF; float:left; text-align:center; }
.prod_container ul li .btn_detail { width:107px; height:25px; background-color:#f3e9dd; border-left: 1px solid #efd8bd; text-align:center; float:left; }
.prod_container ul li .btn_detail a { padding:5px 32px; }
.prod_container ul li:hover .prod_img { border-left:1px solid #ae1f24; border-right:1px solid #ae1f24; border-bottom:1px solid #563800; }
.prod_container ul li:hover .prod_id ,
.prod_container ul li:hover .btn_detail { background-color:#ae1f24; color:#FFF; }
.prod_container ul li:hover .btn_detail { border-left:1px solid #563800; }
.prod_container ul li:hover .btn_detail a { color:#FFF;}
.prod_container ul li .btn_detail:hover { background-color:#d90729; }
.paging { width:688px; clear:left; float:right; margin:0 10px; }
.paging ul { float:right; }
.paging ul li { list-style:none; float:left; margin-right:10px; line-height:14px; margin-top:6px; }
.paging ul li.ico_prev a { background:url(../images/ico_prev.png) bottom no-repeat; padding:7px 10px; }
.paging ul li.ico_next a { background:url(../images/ico_next.png) bottom no-repeat; padding:7px 10px; } 
.paging ul li.ico_prev , .paging ul li.ico_next { margin: 0 10px 0 0; }
.paging ul li a.active { color:#bb0418; font-weight:bold; } 
.paging ul li.select_number { margin-top:4px; }
.paging ul li.select_number select { float:left; margin-right:10px; }
.paging ul li.select_number p { white-space:nowrap; }














