﻿<table style="font-family: arial; font-size: 13px;" cellpadding="4" cellspacing="4">
    <tr>
        <td><strong>Đơn Hàng Mới (Mã Số: [OrderID])</strong></td>
    </tr>
    <tr>
        <td>
            <table style="font-family: arial; font-size: 13px;" cellpadding="3" cellspacing="3">
                <tr>
                    <td>Họ Tên:</td>
                    <td>[Name]</td>
                </tr>
                <tr>
                    <td>Địa Chỉ:</td>
                    <td>[Address]</td>
                </tr>
                <tr>
                    <td>Điện Thoại</td>
                    <td>[Phone]</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>[Email]</td>
                </tr>
                <tr>
                    <td>Ghi Chú:</td>
                    <td>[Comment]</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td><strong>Chi Tiết Đơn Hàng</strong></td>
    </tr>
    <tr>
        <td>
            <table style="font-family: arial; font-size: 13px;" cellpadding="3" cellspacing="3">
                <tr>
                    <td><strong>Mã Sản Phẩm</strong></td>
                    <td><strong>Chất Liệu</strong></td>
                    <td><strong>Màu Sắc</strong></td>
                    <td><strong>Số Lượng</strong></td>
                    <td><strong>Giá</strong></td>
                </tr>
                [Details]
                <tr>
                    <td><strong>Tổng Cộng:</strong></td>
                    <td colspan="3"></td>
                    <td><strong>[Total]</strong></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

